




    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header btn btn-info navbar-btn" id="sidebarCollapse" >
            <h3 class="glyphicon glyphicon-menu-hamburger"></h3>
            <strong class="glyphicon glyphicon-menu-hamburger"></strong>
        </div>

        <ul class="list-unstyled components container-fluid">


            <ul class="list-unstyled components container-fluid">
                <li class="row">
                    <a href="#">
                        <div class="col-6" style="display: inline-block; color: white;">Home</div>
                        <!--<div class="col-2">-->
                        <i class="glyphicon glyphicon-home col-2 "></i>
                        <!--</div>-->
                    </a>
                </li>

                <li class="row">
                    <a href="#">
                        <div class="col-6" style="display: inline-block; color: white;">Perfil</div>

                        <i class="glyphicon glyphicon-user col-2  "></i>

                    </a>
                </li>

                <li class="row">
                    <a href="#peliculasSubmenu" data-toggle="collapse">
                        <div class="col-6" style="display: inline-block; color: white;">Watchlist</div>

                        <i class="glyphicon glyphicon-eye col-2"></i>



                    </a>
                </li>
                <li class="row">
                    <a href="#seriesSubmenu" data-toggle="collapse">
                        <div class="col-6" style="display: inline-block; color: white;">Búsqueda Inteligente</div>

                        <i class="glyphicon glyphicon-facetime-search col-2 "></i>

                    </a>

                </li>
                <li class="row">
                    <a href="#actoresSubmenu" data-toggle="collapse">
                        <div class="col-6" style="display: inline-block; color: white;">Calendario</div>

                        <i class="glyphicon glyphicon-calendar col-2 "></i>

                    </a>

                </li>
                <li class="row">
                    <a href="#">
                        <div class="col-6" style="display: inline-block; color: white;">About</div>

                        <i class="glyphicon glyphicon-link col-2 "></i>

                    </a>
                </li>

            </ul>

        </ul>

    </nav>



