




    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header btn btn-info navbar-btn" id="sidebarCollapse" >
            <h3 class="glyphicon glyphicon-menu-hamburger"></h3>
            <strong class="glyphicon glyphicon-menu-hamburger"></strong>
        </div>

        <ul class="list-unstyled components">
            <li >
                <a href="#">
                    <i class="glyphicon glyphicon-home"></i>
                    <div style="display: inline-block; color: white;">Home</div>
                </a>
            </li>

            <li >
                <a href="#">
                    <i class="glyphicon glyphicon-user"></i>
                    <div style="display: inline-block; color: white;">Perfil</div>
                </a>
            </li>
            <li>
                <a href="#peliculasSubmenu" data-toggle="collapse" >
                    <i class="glyphicon glyphicon-film"></i>
                    <div style="display: inline-block; color: white;">Peliculas</div>
                </a>
            </li>
            <li>
                <a href="#seriesSubmenu" data-toggle="collapse">
                    <i class="glyphicon glyphicon-facetime-video"></i>
                    <div style="display: inline-block; color: white;">Series</div>
                </a>

            </li>
            <li>
                <a href="#actoresSubmenu" data-toggle="collapse">
                    <i class="glyphicon glyphicon-star"></i>
                    <div style="display: inline-block; color: white;">Artistas</div>
                </a>

            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-link"></i>
                    <div style="display: inline-block; color: white;">About</div>
                </a>
            </li>

        </ul>

    </nav>



