
<div *ngIf="artist">
    <h2><span jhiTranslate="furyViewerApp.artist.detail.title">Artist</span> {{artist.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="furyViewerApp.artist.name">Name</span></dt>
        <dd>
            <span>{{artist.name}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.artist.surname">Surname</span></dt>
        <dd>
            <span>{{artist.surname}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.artist.birthdate">Birthdate</span></dt>
        <dd>
            <span>{{artist.birthdate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.artist.sex">Sex</span></dt>
        <dd>
            <span>{{artist.sex}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.artist.deathdate">Deathdate</span></dt>
        <dd>
            <span>{{artist.deathdate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.artist.imgUrl">Img Url</span></dt>
        <dd>
            <span>{{artist.imgUrl}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.artist.imdb_id">Imdb Id</span></dt>
        <dd>
            <span>{{artist.imdb_id}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.artist.awards">Awards</span></dt>
        <dd>
            <span>{{artist.awards}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.artist.country">Country</span></dt>
        <dd>
            <div *ngIf="artist.country">
                <a [routerLink]="['/country', artist.country?.id]">{{artist.country?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.artist.artistType">Artist Type</span></dt>
        <dd>
            <span *ngFor="let artistType of artist.artistTypes; let last = last">
                <a [routerLink]="['/artist-type', artistType?.id ]">{{artistType.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'artist/'+ artist.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
