
<div *ngIf="artist">



    <div class="container-fluid" style="color: #3b3b3b;">
        <div class="row" style="background-color: #d2d3d2; padding-left: 8%; padding-top: 3%;">
            <div class="col-2" style="width: 100%">
                <img src="{{artist.imgUrl}}" class="img-rounded card-img-top imgFilm"
                     style="display: block; height: 18vw; width: 100%;">
                <div class="infoBox">

                    <!-- Fecha nacimiento -->
                    <div class="styleArtist" style="margin-top: 10px;">
                        <div class="iconoFilm">
                            <img src="img/cake.png" height="24px" width="24px"/>
                        </div>
                        <div class="infoFilm">
                            <p class="infoArtist">{{artist.birthdate | date:'mediumDate'}}</p>
                        </div>
                    </div>
                    <!-- Fecha defuncion -->
                    <div class="styleArtist">
                        <div class="iconoFilm">
                            <img src="img/death.png" height="24px" width="24px"/>
                        </div>
                        <div class="infoFilm">
                            <p class="infoArtist">{{artist.deathdate | date:'mediumDate'}}</p>
                        </div>
                    </div>
                    <!-- Pais -->
                    <div class="styleArtist">
                        <div class="iconoFilm">
                            <img src="img/earth.png" height="24px" width="24px"/>
                        </div>
                        <div *ngIf="artist.country" class="infoFilm">
                            <span style="margin-left: 5px; font-size: 13px;" [routerLink]="['/country', artist.country?.id]">{{artist.country?.name}}</span>
                        </div>
                    </div>


                </div>
            </div>
            &nbsp;
            <div class="col-6" style="height: 100%; margin-bottom: 25px;">
                <div class="whiteBox" style="display: table; width: 100%;">
                    <div style="width: 100%; display: inline-block; vertical-align: top;">
                        <h1 class="nameTitle">{{artist.name}}</h1>
                    </div>
                    <div style="display: table-cell; vertical-align: middle; text-align: right; padding-right: 5px;">
                        <ngb-rating class="stars" ></ngb-rating>
                        </br>
                        <p style="padding-right: 8px;">
                            <b class="furyColor"> __</b> de 5 <i class="fa fa-star furyColor"></i></p>
                    </div>
                </div>

                &nbsp;
                <div class="whiteBox" style="display: block; padding: 18px; text-align: left;">
                    <span style="font-family: Roboto; font-size: 15px; text-align: left;">{{artist.biography}}</span>
                </div>
                &nbsp;


            </div>



            <div class="col-3" style="text-align: center;">

                <div class="row" style="padding-left: 5%; padding-right: 7%;">
                    <div class="boxList col-10">
                        <i id="icona" class="fa fa-heart" style="color: #ef9800;"></i> Favorita
                    </div>
                </div>

                <div class="row" style="padding-left: 5%; padding-right: 7%;">

                    <div class="boxList col-10"><i class="fa fa-thumbs-down" style="color: #ef9800;"></i> Hatred</div>
                </div>

                &nbsp;

            </div>
        </div>
    </div>

</div>
