<div class="footer" style="display: block; background-color: #5c5959; color: white; font-size: 12px;">
    <div style="margin-top: 20px; text-align: center; padding-bottom: 1%;">
        <div style="display: inline-block; text-align: right; vertical-align: top; margin-right: 25px;">

            <div style="display: flex; justify-content: center; align-content: center; flex-direction: column; margin-top: 4%;">
            <p>Copyright <i class="fa fa-copyright"></i> Fury Viewer 2017-2018</p>


            <div style="text-align: center">
                <i class="fa fa-facebook-f fa-2x col-2 "></i>
                <i class="fa fa-instagram fa-2x col-2 "></i>
                <i class="fa fa-twitter fa-2x col-2 "></i>
            </div>
            </div>
        </div>
        <div style="display: inline-block; line-height: 1px; border-left: 1px solid white;">
            <div
                style="margin-left: 25px; text-align: left; display: flex; justify-content: center; align-content: center; flex-direction: column;padding-top: 8%;">
                <p>Contacto</p>
                <p>Terminos de uso</p>
                <p>Politica de privacidad</p>
                <p>FAQ</p>
            </div>
        </div>


    </div>
</div>
