<div class="fons ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cuerpo">
                    <div class="row">
                        <div class="col-12">
                            <div class="row text-right">
                                <div class="col botocalendari" id="botoncalendar">
                                    <button> SERIES</button>
                                    <button> MOVIES</button>
                                </div>
                            </div>
                            <div class="all-elements">
                                <div class="line-element-wrapper">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-3">
                                                    <div class="date-element" style="text-align: center;">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="num-element">
                                                                    26
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="day-element">
                                                                    MONDAY
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="month-element">
                                                                    March
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-9">
                                                    <div class="moviesseries-element">


                                                        <div class="serpeli_body2">
                                                            <div class="card portades" >
                                                                <img class="card-img-top"
                                                                     src="../../../content/images/doctorwho.jpg"
                                                                     alt="Card image">

                                                                <div class="card-body">
                                                                    <h4 class="card-title">3x04 Blink</h4>
                                                                    <h3 class="card-text">Doctor Who</h3>
                                                                </div>


                                                            </div>
                                                            <div class="card portades">
                                                                <img class="card-img-top"
                                                                     src="../../../content/images/doctorwho.jpg"
                                                                     alt="Card image">

                                                                <div class="card-body">
                                                                    <h4 class="card-title">3x04 Blink</h4>
                                                                    <h3 class="card-text">Doctor Who</h3>
                                                                </div>


                                                            </div>

                                                            <div class="card portades">
                                                                <img class="card-img-top"
                                                                     src="../../../content/images/doctorwho.jpg"
                                                                     alt="Card image">

                                                                <div class="card-body">
                                                                    <h4 class="card-title">3x04 Blink</h4>
                                                                    <h3 class="card-text">Doctor Who</h3>
                                                                </div>


                                                            </div>
                                                            <div class="card portades">
                                                                <img class="card-img-top"
                                                                     src="../../../content/images/doctorwho.jpg"
                                                                     alt="Card image">


                                                                <div class="card-body">
                                                                    <h4 class="card-title">3x04 Blink</h4>
                                                                    <h3 class="card-text">Doctor Who</h3>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="line-element-wrapper">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-3">
                                                    <div class="date-element" style="text-align: center;">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="num-element" style="color:orange">
                                                                    26
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="day-element">
                                                                    MONDAY
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="month-element">
                                                                    March
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-9">
                                                    <div class="moviesseries-element">


                                                        <div class="serpeli_body2">
                                                            <div class="card portades">
                                                                <img class="card-img-top"
                                                                     src="../../../content/images/doctorwho.jpg"
                                                                     alt="Card image">

                                                                <div class="card-body">
                                                                    <h4 class="card-title">3x04 Blink</h4>
                                                                    <h3 class="card-text">Doctor Who</h3>
                                                                </div>


                                                            </div>
                                                            <div class="card portades">
                                                                <img class="card-img-top"
                                                                     src="../../../content/images/doctorwho.jpg"
                                                                     alt="Card image">

                                                                <div class="card-body">
                                                                    <h4 class="card-title">3x04 Blink</h4>
                                                                    <h3 class="card-text">Doctor Who</h3>
                                                                </div>


                                                            </div>
                                                            <div class="card portades">
                                                                <img class="card-img-top"
                                                                     src="../../../content/images/doctorwho.jpg"
                                                                     alt="Card image">


                                                                <div class="card-body">
                                                                    <h4 class="card-title">3x04 Blink</h4>
                                                                    <h3 class="card-text">Doctor Who</h3>
                                                                </div>


                                                            </div>
                                                            <div class="card portades">
                                                                <img class="card-img-top"
                                                                     src="../../../content/images/doctorwho.jpg"
                                                                     alt="Card image">

                                                                <div class="card-body">
                                                                    <h4 class="card-title">3x04 Blink</h4>
                                                                    <h3 class="card-text">Doctor Who</h3>
                                                                </div>


                                                            </div>
                                                            <div class="card portades">
                                                                <img class="card-img-top"
                                                                     src="../../../content/images/doctorwho.jpg"
                                                                     alt="Card image">


                                                                <div class="card-body">
                                                                    <h4 class="card-title">3x04 Blink</h4>
                                                                    <h3 class="card-text">Doctor Who</h3>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="line-element-wrapper">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-3" style="padding-right: 0;">
                                                    <div class="date-element" style="text-align: center;">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="num-element">
                                                                    26
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="day-element">
                                                                    MONDAY
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="month-element">
                                                                    March
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-9" style="padding-left: 0;">
                                                    <div class="moviesseries-element">


                                                        <div class="serpeli_body2">
                                                            <div class="card portades">
                                                                <img class="card-img-top"
                                                                     src="../../../content/images/doctorwho.jpg"
                                                                     alt="Card image">

                                                                <div class="card-body">
                                                                    <h4 class="card-title">3x04 Blink</h4>
                                                                    <h3 class="card-text">Doctor Who</h3>
                                                                </div>


                                                            </div>
                                                            <div class="card portades">
                                                                <img class="card-img-top"
                                                                     src="../../../content/images/doctorwho.jpg"
                                                                     alt="Card image">

                                                                <div class="card-body">
                                                                    <h4 class="card-title">3x04 Blink</h4>
                                                                    <h3 class="card-text">Doctor Who</h3>
                                                                </div>


                                                            </div>
                                                            <div class="card portades">
                                                                <img class="card-img-top"
                                                                     src="../../../content/images/doctorwho.jpg"
                                                                     alt="Card image">


                                                                <div class="card-body">
                                                                    <h4 class="card-title">3x04 Blink</h4>
                                                                    <h3 class="card-text">Doctor Who</h3>
                                                                </div>


                                                            </div>
                                                            <div class="card portades">
                                                                <img class="card-img-top"
                                                                     src="../../../content/images/doctorwho.jpg"
                                                                     alt="Card image">

                                                                <div class="card-body">
                                                                    <h4 class="card-title">3x04 Blink</h4>
                                                                    <h3 class="card-text">Doctor Who</h3>
                                                                </div>


                                                            </div>
                                                            <div class="card portades">
                                                                <img class="card-img-top"
                                                                     src="../../../content/images/doctorwho.jpg"
                                                                     alt="Card image">


                                                                <div class="card-body">
                                                                    <h4 class="card-title">3x04 Blink</h4>
                                                                    <h3 class="card-text">Doctor Who</h3>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
