<div>
    <h2>
        <span jhiTranslate="furyViewerApp.season.home.title">Seasons</span>
        <button class="btn btn-primary float-right jh-create-entity create-season" [routerLink]="['/', { outlets: { popup: ['season-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="furyViewerApp.season.home.createLabel">
            Create new Season
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="seasons">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="furyViewerApp.season.number">Number</span></th>
            <th><span jhiTranslate="furyViewerApp.season.img">Img</span></th>
            <th><span jhiTranslate="furyViewerApp.season.releaseDate">Release Date</span></th>
            <th><span jhiTranslate="furyViewerApp.season.series">Series</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let season of seasons ;trackBy: trackId">
                <td><a [routerLink]="['../season', season.id ]">{{season.id}}</a></td>
                <td>{{season.number}}</td>
                <td>
                    <a *ngIf="season.img" (click)="openFile(season.imgContentType, season.img)">
                        <img [src]="'data:' + season.imgContentType + ';base64,' + season.img" style="max-height: 30px;" alt="season image"/>
                    </a>
                    <span *ngIf="season.img">{{season.imgContentType}}, {{byteSize(season.img)}}</span>
                </td>
                <td>{{season.releaseDate | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="season.series">
                        <a [routerLink]="['../series', season.series?.id ]" >{{season.series?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../season', season.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'season/'+ season.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'season/'+ season.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
