<div class="fons ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cuerpo">
                    <div class="row">
                        <div class="col-12">



                            <div class="all-elements">
                                <!-- Fila-->
                                <div class="loader" *ngIf="loading">
                                    <img src="../../../content/images/loader.gif" />
                                </div>
                                <div class="jumbotron" *ngIf="episodes.length==0 && !loading">
                                    NO EPISODES UPCOMING
                                </div>
                                <div class="line-element-wrapper" *ngFor="let calendar of episodes">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-3">
                                                    <div class="date-element" style="text-align: center;">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="num-element" [ngStyle]="{'color':calendar.releaseDate<=today ? '#ef9800' : 'grey'}">
                                                                    {{calendar.releaseDate | date: 'dd'}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="day-element">
                                                                    {{calendar.releaseDate | date: 'EEEE'}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="month-element">
                                                                    {{calendar.releaseDate | date: 'LLLL'}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-9">
                                                    <div class="moviesseries-element">


                                                        <div class="serpeli_body2">
                                                            <div class="card portades" *ngFor="let episode of calendar.episodes" [routerLink]="['/series', episode?.id]">
                                                                <img class="card-img-top"
                                                                     src="{{episode.urlCartel}}"
                                                                     alt="Card image">

                                                                <div class="card-body">
                                                                    <h4 class="card-title limit">{{episode.seasonNumber | number:'2.0-0' }}x{{episode.episodeNumber | number:'2.0-0' }} {{episode.titleEpisode}}</h4>
                                                                    <h3 class="card-text">{{episode.titleSeries}}</h3>
                                                                </div>


                                                            </div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Final Fila-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


