
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700" rel="stylesheet">


<div *ngIf="movie">
    <div class="container-fluid" style="color: #3b3b3b;">
        <div class="row" style="background-color: #d2d3d2; padding-left: 8%; padding-top: 3%;">
            <div class="col-2" style="width: 100%">
                <img src="{{movie.imgUrl}}" class="img-rounded card-img-top imgFilm"
                     style="display: block; height: 18vw; width: 100%;">

                <div class="infoBar">
                    <div class="row">
                        <div class="col">
                            <i class="fa fa-smile-o fa-2x" style="font-size:1.4em;"></i>
                        </div>
                        <div class="col text-right">
                            <i class="fa fa-frown-o fa-2x" style="font-size:1.4em;"></i>
                        </div>
                    </div>

                    <div class="progress" [ngStyle]="{'background-color':votesCount==='0' ? '#e9ecef' : '#a9a9a9'}">
                        <div class="progress-bar bg-success" role="progressbar" [style.width.%]="progres"
                             aria-valuenow="0"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>

                <div class="infoBox">
                    <!-- Director -->
                    <div class="styleArtist" style="margin-top: 10px;" *ngIf="movie.director != null">
                        <div class="iconoFilm">
                            <img src="img/director-chair.png" height="24px" width="24px"/>
                        </div>
                        <div class="infoFilm">
                            <a [routerLink]="['/artist', movie.director?.id]" class="infoArtist">{{movie.director?.name}}</a>
                        </div>
                    </div>
                    <!-- Guionista -->
                    <div class="styleArtist" *ngIf="movie.scriptwriter != null">
                        <div class="iconoFilm">
                            <img src="img/typewriter.png" height="24px" width="24px"/>
                        </div>
                        <div class="infoFilm">
                            <a [routerLink]="['/artist', movie.scriptwriter?.id]" class="infoArtist">{{movie.scriptwriter?.name}}</a>
                        </div>
                    </div>
                    <!-- Genero -->
                    <div class="styleArtist" *ngIf="movie.genres.length!= 0">
                        <div class="iconoFilm">
                            <img src="img/masks.png" height="24px" width="24px"/>
                        </div>
                        <span *ngFor="let genre of movie.genres; let last = last" class="infoFilm">
                                <a [routerLink]="['/genre', genre?.id ]" class="infoArtist">{{genre.name}}</a>{{last ? '' : ', '}}
                            </span>
                    </div>
                    <!-- Duracion -->
                    <div class="styleArtist" *ngIf="movie.duration != null && movie.duration != -1">
                        <div class="iconoFilm">
                            <img src="img/time.png" height="24px" width="24px"/>
                        </div>
                        <div class="infoFilm">
                            <span style="margin-left: 5px; font-size: 13px;">{{movie.duration}} min</span>
                        </div>
                    </div>
                    <!-- Company -->
                    <div class="styleArtist" *ngIf="movie.company != null">
                        <div class="iconoFilm">
                            <img src="img/clapper.png" height="24px" width="24px"/>
                        </div>
                        <div *ngIf="movie.company" class="infoFilm">
                            <span style="margin-left: 5px; font-size: 13px;">{{movie.company?.name}}</span>
                        </div>
                    </div>
                    <!-- Pais -->
                    <div class="styleArtist" *ngIf="movie.country?.name != null">
                        <div class="iconoFilm">
                            <img src="img/earth.png" height="24px" width="24px"/>
                        </div>
                        <div *ngIf="movie.country" class="infoFilm">
                            <span style="margin-left: 5px; font-size: 13px;">{{movie.country?.name}}</span>
                        </div>
                    </div>
                    <!-- Lanzamiento -->
                    <div class="styleArtist" *ngIf="movie.releaseDate != null">
                        <div class="iconoFilm">
                            <img src="img/calendar.png" height="24px" width="24px"/>
                        </div>
                        <div class="infoFilm">
                            <span
                                style="margin-left: 5px; font-size: 13px;">{{movie.releaseDate | date:'shortDate'}}</span>
                        </div>
                    </div>

                    <!-- DVD -->
                    <div class="styleArtist"  *ngIf="movie.dvd_release != null">
                        <div class="iconoFilm">
                            <img src="img/dvd.png" height="24px" width="24px"/>
                        </div>
                        <div class="infoFilm">
                            <span style="margin-left: 5px; font-size: 13px;">{{movie.dvd_release | date:'shortDate'}}</span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-7" style="height: 100%; margin-bottom: 25px;">
                <div class="whiteBox" style="display: table; width: 100%;">
                    <div style="width: 100%; display: inline-block; vertical-align: top;">
                        <h1 class="nameTitle">{{movie.name}}</h1>
                    </div>
                    <div style="display: table-cell; vertical-align: middle; text-align: right; padding-right: 5px;">
                        <ngb-rating class="stars" [(ngModel)]="rateUser.rate" (click)="rate()" ></ngb-rating>
                        </br>
                        <p style="padding-right: 8px;">
                        <div id="plus" class="fa fa-plus-circle furyColor" [ngbPopover]="notas" placement="bottom"
                             triggers="mouseenter:mouseleave"></div>
                        <b class="furyColor"> {{media}}</b> de 5 <i class="fa fa-star furyColor"></i></p>
                    </div>
                </div>
                <ng-template #notas id="divShowHide">
                    <span *ngFor="let mark of marks, let i = index" style="max-width: 100%!important;">
                        <span class="infoWebs3">
                            <p class="infoWebs1">{{mark.type}}</p>
                            <p class="infoWebs2">{{mark.url}} <i class="fa fa-star furyColor"></i></p>
                        </span>
                    </span>
                </ng-template>
                &nbsp;
                <div *ngIf="movie.description != null" class="whiteBox" style="display: block; padding: 18px; text-align: left;">
                    <span style="font-family: Roboto; font-size: 15px; text-align: left;">{{movie.description}}</span>
                </div>
                <br *ngIf="movie.description != null" />

                <div class="whiteBox" style="display: block; padding: 18px;">
                    <div style="width: 100%">
                        <div>
                            <div class="row">
                                <div class="col-3" style="vertical-align: top;">
                                    <img src="img/foto.JPG" class="imgComent"/>
                                </div>
                                <div class="col-8">
                                    <input type="text" [(ngModel)]="newComent.title" placeholder="title" style="font-size: 14px; width: 100%; margin-bottom: 10px; margin-left: 0px !important;"/>
                                    </br>
                                    <textarea class="txtarea" name="comentario" placeholder="write here the commentary" style="width: 100%; font-size: 13px;" rows="4" [(ngModel)]="newComent.review"></textarea>
                                    <div style="display: block; width: 100%">
                                        <div style="text-align: right; margin-right: 5px; margin-top: 10px;">
                                            <button id="btnComen" (click)="comentar()" >COMMENT</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p *ngFor="let coment of reviewMovies" class="row" style="margin-top: 35px;">
                        <b class="col-3">
                            <img src="img/foto.JPG" class="imgComent"/>
                            <p style="margin-top: 3px; font-size: 12px;">{{coment.user.login}}</p>
                        </b>
                        <b class="col-8" >
                            <b style="display: block; font-weight: normal; text-align: left;">
                                <p style="text-align: left; display: inline-block;">{{coment.title}}</p>
                                <span style="float: right;"><p style="display: inline-block; font-size: 9px;"> {{coment.date | date:'short'}} </p></span>
                            </b>
                            <b style="display: block; font-weight: normal; text-align: left; font-size: 14px;">
                                <p style="text-align: left;">{{coment.review}}</p>
                            </b>
                        </b>
                    </p>
                </div>

            </div>

            <div class="col-3" style="text-align: center;">

                <div class="row" style="padding-left: 5%; padding-right: 7%;">
                    <div  (click)="stat('seen')" class="boxList col-10"
                          [ngStyle]="{'background-color':stats=='SEEN' ? '#ef9800' : 'white', 'color':stats=='SEEN' ? 'white' : '#ef9800'}">
                        <i id="icona" class="fa fa-eye-slash" style="color: #ef9800;" [ngStyle]="{'color':stats=='SEEN' ? 'white' : '#ef9800'}"></i> Viewed
                    </div>
                </div>

                <div class="row" style="padding-left: 5%; padding-right: 7%;">

                    <div (click)="stat('pending')" class="boxList col-10" [ngStyle]="{'background-color':stats=='PENDING' ? '#ef9800' : 'white', 'color':stats=='PENDING' ? 'white' : '#ef9800'}" ><i class="fa fa-edit" style="color: #ef9800;" [ngStyle]="{'color':stats=='PENDING' ? 'white' : '#ef9800'}"></i> Pending</div>
                </div>
                <div class="row" style="padding-left: 5%; padding-right: 7%;">
                    <div class="col-10" style="padding-left: 0px; padding-right: 0px;">
                        <div class="boxList" style="display: inline-block; width: 49%;" (click)="like()"
                             [ngStyle]="{'background-color':fav.liked ? '#ef9800' : 'white', 'color':fav.liked ? 'white' : '#ef9800'}">
                            <i class="fa fa-heart" style="color: #ef9800;"
                               [ngStyle]="{'color':fav.liked ? 'white' : '#ef9800'}"></i> Favorite
                        </div>
                        <div class="boxList" style="display: inline-block; width: 49%;" (click)="hated()"
                             [ngStyle]="{'background-color':hate.hated ? '#ef9800' : 'white', 'color':hate.hated ? 'white' : '#ef9800'}">
                            <i class="fa fa-thumbs-down" style="color: #ef9800;"
                               [ngStyle]="{'color':hate.hated ? 'white' : '#ef9800'}"></i> Hatred
                        </div>
                    </div>
                </div>

                &nbsp;

                <div *ngIf="trailer" class="row">
                    <div class="col-10">
                        <div  class="embed-responsive embed-responsive-16by9">

                            <iframe [src]="trailer" frameborder="0" allowfullscreen></iframe>

                        </div>
                    </div>
                </div>

                <br *ngIf="trailer" />

                <div *ngIf="artistMovie.length!= 0" class="row">
                    <div class="col-10">
                        <div id="boxReparto" style="width: 100% !important;">
                            <div id="reparto">CAST</div>
                            <div class="row" style="padding-left: 20px; padding-right: 30px;">
                                <div *ngFor="let artist of artistMovie" class="col-6" style="display: inline-block; vertical-align: top; padding: 10px; font-size: 15px; margin-top: 5px; cursor:pointer;">
                                    <span [routerLink]="['/artist', artist?.id]">
                                        <img class="imgReparto" style="width: 80px; border-radius: 5px;" src="{{artist.imgUrl}}"/>
                                        <div style="font-size: 13px; font-family: Roboto; margin-top: 6px;">{{artist.name}}</div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
