<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMovieLabel" jhiTranslate="furyViewerApp.movie.home.createOrEditLabel">Create or edit a Movie</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!movie.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="movie.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.movie.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="movie.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.movie.releaseDate" for="field_releaseDate">Release Date</label>
            <div class="input-group">
                <input id="field_releaseDate" type="text" class="form-control" name="releaseDate" ngbDatepicker  #releaseDateDp="ngbDatepicker" [(ngModel)]="movie.releaseDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="releaseDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.movie.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="movie.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.movie.img" for="field_img">Img</label>
            <div>
                <img [src]="'data:' + movie.imgContentType + ';base64,' + movie.img" style="max-height: 100px;" *ngIf="movie.img" alt="movie image"/>
                <div *ngIf="movie.img" class="form-text text-danger clearfix">
                    <span class="pull-left">{{movie.imgContentType}}, {{byteSize(movie.img)}}</span>
                    <button type="button" (click)="clearInputImage('img', 'imgContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_img" (change)="setFileData($event, movie, 'img', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
            </div>
            <input type="hidden" class="form-control" name="img" id="field_img"
                [(ngModel)]="movie.img"  />
            <input type="hidden" class="form-control" name="imgContentType" id="field_imgContentType"
                [(ngModel)]="movie.imgContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.movie.duration" for="field_duration">Duration</label>
            <input type="number" class="form-control" name="duration" id="field_duration"
                [(ngModel)]="movie.duration"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.movie.imdbIdExternalApi" for="field_imdbIdExternalApi">Imdb Id External Api</label>
            <input type="text" class="form-control" name="imdbIdExternalApi" id="field_imdbIdExternalApi"
                [(ngModel)]="movie.imdbIdExternalApi"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.movie.director" for="field_director">Director</label>
            <select class="form-control" id="field_director" name="director" [(ngModel)]="movie.director" >
                <option [ngValue]="null"></option>
                <option [ngValue]="artistOption.id === movie.director?.id ? movie.director : artistOption" *ngFor="let artistOption of artists; trackBy: trackArtistById">{{artistOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.movie.scriptwriter" for="field_scriptwriter">Scriptwriter</label>
            <select class="form-control" id="field_scriptwriter" name="scriptwriter" [(ngModel)]="movie.scriptwriter" >
                <option [ngValue]="null"></option>
                <option [ngValue]="artistOption.id === movie.scriptwriter?.id ? movie.scriptwriter : artistOption" *ngFor="let artistOption of artists; trackBy: trackArtistById">{{artistOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.movie.company" for="field_company">Company</label>
            <select class="form-control" id="field_company" name="company" [(ngModel)]="movie.company" >
                <option [ngValue]="null"></option>
                <option [ngValue]="companyOption.id === movie.company?.id ? movie.company : companyOption" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="furyViewerApp.movie.genre" for="field_genre">Genre</label>
            <select class="form-control" id="field_genre" multiple name="genre" [(ngModel)]="movie.genres">
                <option [ngValue]="getSelected(movie.genres, genreOption)" *ngFor="let genreOption of genres; trackBy: trackGenreById">{{genreOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="furyViewerApp.movie.actorMain" for="field_actorMain">Actor Main</label>
            <select class="form-control" id="field_actorMain" multiple name="actorMain" [(ngModel)]="movie.actorMains">
                <option [ngValue]="getSelected(movie.actorMains, artistOption)" *ngFor="let artistOption of artists; trackBy: trackArtistById">{{artistOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="furyViewerApp.movie.actorSecondary" for="field_actorSecondary">Actor Secondary</label>
            <select class="form-control" id="field_actorSecondary" multiple name="actorSecondary" [(ngModel)]="movie.actorSecondaries">
                <option [ngValue]="getSelected(movie.actorSecondaries, artistOption)" *ngFor="let artistOption of artists; trackBy: trackArtistById">{{artistOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
