<div>
    <h2>
        <span jhiTranslate="furyViewerApp.movie.home.title">Movies</span>
        <button class="btn btn-primary float-right jh-create-entity create-movie" [routerLink]="['/', { outlets: { popup: ['movie-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="furyViewerApp.movie.home.createLabel">
            Create new Movie
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="movies">
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="furyViewerApp.movie.name">Name</span></th>
            <th><span jhiTranslate="furyViewerApp.movie.releaseDate">Release Date</span></th>
            <th><span jhiTranslate="furyViewerApp.movie.description">Description</span></th>
            <th><span jhiTranslate="furyViewerApp.movie.duration">Duration</span></th>
            <th><span jhiTranslate="furyViewerApp.movie.imdbIdExternalApi">Imdb Id External Api</span></th>
            <th><span jhiTranslate="furyViewerApp.movie.imgUrl">Img Url</span></th>
            <th><span jhiTranslate="furyViewerApp.movie.dvd_release">Dvd Release</span></th>
            <th><span jhiTranslate="furyViewerApp.movie.awards">Awards</span></th>
            <th><span jhiTranslate="furyViewerApp.movie.director">Director</span></th>
            <th><span jhiTranslate="furyViewerApp.movie.scriptwriter">Scriptwriter</span></th>
            <th><span jhiTranslate="furyViewerApp.movie.company">Company</span></th>
            <th><span jhiTranslate="furyViewerApp.movie.genre">Genre</span></th>
            <th><span jhiTranslate="furyViewerApp.movie.actorMain">Actor Main</span></th>
            <th><span jhiTranslate="furyViewerApp.movie.actorSecondary">Actor Secondary</span></th>
            <th><span jhiTranslate="furyViewerApp.movie.country">Country</span></th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let movie of movies ;trackBy: trackId">
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../movie', movie.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'movie/'+ movie.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'movie/'+ movie.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
                <td><a [routerLink]="['../movie', movie.id ]">{{movie.id}}</a></td>
                <td>{{movie.name}}</td>
                <td>{{movie.releaseDate | date:'mediumDate'}}</td>
                <td>{{movie.description}}</td>
                <td>{{movie.duration}}</td>
                <td>{{movie.imdbIdExternalApi}}</td>
                <td><img src="{{movie.imgUrl}}" /> </td>
                <td>{{movie.dvd_release}}</td>
                <td>{{movie.awards}}</td>
                <td>
                    <div *ngIf="movie.director">
                        <a [routerLink]="['../artist', movie.director?.id ]" >{{movie.director?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="movie.scriptwriter">
                        <a [routerLink]="['../artist', movie.scriptwriter?.id ]" >{{movie.scriptwriter?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="movie.company">
                        <a [routerLink]="['../company', movie.company?.id ]" >{{movie.company?.name}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let genre of movie.genres; let last = last">
                            <a class="form-control-static" [routerLink]="['../genre', genre?.id ]">{{genre.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let actorMain of movie.actorMains; let last = last">
                            <a class="form-control-static" [routerLink]="['../artist', actorMain?.id ]">{{actorMain.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let actorSecondary of movie.actorSecondaries; let last = last">
                            <a class="form-control-static" [routerLink]="['../artist', actorSecondary?.id ]">{{actorSecondary.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <div *ngIf="movie.country">
                        <a [routerLink]="['../country', movie.country?.id ]" >{{movie.country?.name}}</a>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
