
<div *ngIf="movie">
    <div class="container-fluid">
        <div class="row" style="background-color: #d2d3d2; padding-left: 8%; padding-top: 3%;">
            <div class="col-2" style="width: 100%">

                    <img src="{{movie.imgUrl}}" class="img-rounded card-img-top imgFilm">
            </div>
            <div class="col-6" style="background-color: white; height: 100%; border-radius: 10px; padding: 12px;">
                <div style="width: 59%; display: inline-block;">
                    <h1>{{movie.name}}</h1>
                </div>
                <div style="width: 40%; display: inline-block;">
                    <ngb-rating></ngb-rating>
                </div>
            </div>
            <div class="col-3" style="background-color: purple; height: 200px;"></div>
        </div>
    </div>
</div>
