
<div>
    <div class="container-fluid" style="color: #3b3b3b;">
        <div class="row" style="margin-top: 25px;">
            <div style="margin: 0 auto;">
                <div style="border-top: 2px solid white; width: 400px; margin-bottom: 11px; display: inline-block;"></div>
                <div class="whiteBox" style="display: inline-block; margin-left: -4px; margin-right: -4px;">
                    <h1 style="padding: 15px 18px;" id="lineAfter">MEET THE TEAM</h1>
                </div>
                <div style="border-top: 2px solid white; width: 400px; margin-bottom: 11px; display: inline-block;"></div>
            </div>
        </div>
    </div>
        &nbsp;
    <div style="display: block; height: 100%;">
        <div style="display: block;">
            <div style="display: inline-block; margin-right: 10px;" class="boxAbout">
                <div style="overflow: hidden;">
                    <img id="pau" src="img/a.jpeg" class="imgAbout"/>
                </div>
                <div>
                    <p class="nameTeam">Pau</p>
                    <p class="jobTeam">Backend developer</p>
                </div>
                <a class="fa fa-github fa-2x hoverIcon" href="https://github.com/TheDoctor-95"></a>
                <a class="fa fa-linkedin fa-2x hoverIcon"></a>
            </div>
            <div style="display: inline-block; margin-right: 10px; margin-left: 10px;" class="boxAbout">
                <img id="gonzalo" src="img/b.jpeg" class="imgAbout"/>
                <div>
                    <p class="nameTeam">Gonzalo</p>
                    <p class="jobTeam">Backend developer</p>
                </div>
                <a class="fa fa-github fa-2x hoverIcon" href="https://github.com/Whoger"></a>
                <a class="fa fa-linkedin fa-2x hoverIcon"></a>
            </div>
            <div style="display: inline-block; margin-left: 10px;" class="boxAbout">
                <img id="ibra" src="img/d.jpeg" class="imgAbout"/>
                <div>
                    <p class="nameTeam">Ibrahim</p>
                    <p class="jobTeam">Backend developer</p>
                </div>
                <a class="fa fa-github fa-2x hoverIcon" href="https://github.com/IFriedkin"></a>
                <a class="fa fa-linkedin fa-2x hoverIcon"></a>
            </div>
        </div>
        <div style="display: block; margin-top: 35px; margin-bottom: 35px;">
            <div style="display: inline-block; margin-right: 10px; margin-left: 10px;" class="boxAbout">
                <img id="clara" src="img/e.jpeg" class="imgAbout"/>
                <div>
                    <p class="nameTeam">Clara</p>
                    <p class="jobTeam">Frontend developer</p>
                </div>
                <a class="fa fa-github fa-2x hoverIcon" href="https://github.com/ClaraClemente"></a>
                <a class="fa fa-linkedin fa-2x hoverIcon"></a>
            </div>
            <div style="display: inline-block; margin-left: 10px;" class="boxAbout">
                <img id="marc" src="img/c.jpeg" class="imgAbout"/>
                <div>
                    <p class="nameTeam">Marc</p>
                    <p class="jobTeam">Frontend developer</p>
                </div>
                <a class="fa fa-github fa-2x hoverIcon" href="https://github.com/debuen"></a>
                <a class="fa fa-linkedin fa-2x hoverIcon"></a>
            </div>
        </div>
    </div>


</div>
