<div class="fons ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cuerpo">
                    <div class="row">
                        <div class="col-12">

                            <div class="cos-search" style="margin-top: 0; padding-bottom: 3rem;">

                                <div class="card pendientes">
                                    <div class="row text-center">
                                        <div class="col">


                                            <div class="card-body body-form">
                                                <div class="all-formulari">

                                                <div class="row">
                                                        <div class="col-2">
                                                            <div class=" botosearch" id="botonsearch">
                                                                <button> SERIES</button>
                                                                <button> MOVIES</button>
                                                                <button> ARTIST</button>
                                                            </div>
                                                        </div>
                                                        <div class="col-10">
                                                            <div class="formulari"
                                                                 style="padding-left: 10%; padding-right: 10%;">
                                                                <div class="container-fluid">
                                                                    <form>
                                                                        <div class="row">
                                                                            <div class="col-sm-12 col-lg-6"
                                                                                 style="text-align: left">
                                                                                <div class="form-group row">
                                                                                    <label for="example-text-input"
                                                                                           class="col-4 col-form-label">Nombre</label>
                                                                                    <div class="col-7">
                                                                                        <input class="form-control"
                                                                                               type="text"
                                                                                               name="name"
                                                                                               [(ngModel)]="name"
                                                                                               id="example-text-input">
                                                                                    </div>
                                                                                </div>


                                                                                <div class="form-group row">
                                                                                    <label for="example-text-input2"
                                                                                           class="col-4 col-form-label">Año</label>
                                                                                    <div class="col-7">
                                                                                        <input class="form-control"
                                                                                               type="number"
                                                                                               name="year"
                                                                                               max="{{actualYear}}"
                                                                                               [(ngModel)]="date"
                                                                                               id="example-text-input2" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-sm-12 col-lg-6"
                                                                                 style="text-align: left">


                                                                                <div class="form-group row">
                                                                                    <label for="exampleSelect1"
                                                                                           class="col-5">Género</label>
                                                                                    <select class="form-control col-7"
                                                                                            id="exampleSelect1">
                                                                                        <option value="" > -- Select Genre --</option>
                                                                                        <option *ngFor="let genre of genres" value="{{genre.id}}"> {{genre.name}} </option>
                                                                                    </select>
                                                                                </div>



                                                                                <div class="form-group row">
                                                                                    <label for="exampleSelect2"
                                                                                           class="col-5">País</label>
                                                                                    <select class="form-control col-7"
                                                                                            id="exampleSelect2">
                                                                                        <option>1</option>
                                                                                        <option>2</option>
                                                                                        <option>3</option>
                                                                                        <option>4</option>
                                                                                        <option>5</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col">
                                                                                <div class="form-group "
                                                                                     style="margin-top: 2%;">
                                                                                    <button type="submit"
                                                                                            class="btn btn-primary"
                                                                                            style="background-color: orange; border: none; margin-right: 0.5rem; min-width: 6em; padding: 0.5rem; font-weight: 300;"
                                                                                            (click)="buscarMovies()"
                                                                                    >
                                                                                        SEARCH
                                                                                    </button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="serpeli_body2" >
                                                    <div class="card portades" style="margin-right: 2%;" *ngFor="let movie of movies">
                                                        <img class="card-img-top" src="{{movie.imgUrl}}" alt="Card image"
                                                             style=" width: 7rem; height: 10rem;">

                                                        <div class="card-body">
                                                            <h4 class="card-title">{{movie.name}}</h4>
                                                            <h3 class="card-text">{{movie.releaseDate}}</h3>
                                                        </div>

                                                    </div>

                                                    <div class="loader" *ngIf="loading">
                                                        <img src="../../../content/images/loader.gif" />
                                                    </div>

                                                    <div class="jumbotron" *ngIf="movies.length==0 && !loader">
                                                        WE DIDN'T FIND ANY RESULT
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
