<div class="fons container-fluid ">
    <div class="row">
        <div class="hola col-12">

            <div class="row">
            <div class="selector-movieserie col-4 col-offset-8">
                <label><input type="radio" name="selectormovieserie">Películas</label>
                <label><input type="radio" name="selectormovieserie">Series</label>
                <label><input type="radio" name="selectormovieserie">Todo</label>
            </div>
            </div>
            <div class="cos" style="margin-top: 0">


                <div class="card pendientes">
                    <div class="card-body body-form">

                        <div class="formulari">
                            <div class="container-fluid">

                                <form>

                                    <div class="row">

                                        <div class="col" style="text-align: left">

                                            <div class="form-group row">
                                                <label for="example-text-input"
                                                       class="col-5 col-form-label">Nombre</label>
                                                <div class="col-7">
                                                    <input class="form-control" type="text" value=" "
                                                           id="example-text-input">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-text-input3"
                                                       class="col-5 col-form-label">Actor</label>
                                                <div class="col-7">
                                                    <input class="form-control" type="text" value=" "
                                                           id="example-text-input3">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="example-text-input4"
                                                       class="col-5 col-form-label">Director</label>
                                                <div class="col-7">
                                                    <input class="form-control" type="text" value=" "
                                                           id="example-text-input4">
                                                </div>
                                            </div>


                                            <div class="form-group row">
                                                <label for="example-text-input2"
                                                       class="col-5 col-form-label">Año</label>
                                                <div class="col-7">
                                                    <input class="form-control" type="text" value=" "
                                                           id="example-text-input2">
                                                </div>
                                            </div>

                                        </div>


                                        <div class="col" style="text-align: left">


                                            <div class="form-group row" style="margin-bottom: 1%">
                                                <label for="example-text-input"
                                                       class="col-5 col-form-label">Valoración</label>

                                                <ngb-rating class="stars col-7" style="margin-top: -2%; "></ngb-rating>
                                                </br>


                                            </div>

                                            <div class="form-group row">
                                                <label for="exampleSelect1" class="col-5">Género</label>
                                                <select class="form-control col-7" id="exampleSelect1">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>

                                            <div class="form-group row">
                                                <label for="exampleSelect2" class="col-5">País</label>
                                                <select class="form-control col-7" id="exampleSelect2">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>


                                            <div class="form-group row " style=" margin-left: 40%; margin-bottom: 3%;">
                                                <button type="submit" class="btn btn-primary">SUBMIT</button>

                                            </div>

                                        </div>

                                    </div>

                                </form>

                            </div>

                        </div>


                        <div class="serpeli_body2">
                            <div class="card portades">
                                <img class="card-img-top" src="doctorwho.jpg" alt="Card image">

                                <div class="card-body">
                                    <h4 class="card-title">3x04 Blink</h4>
                                    <h3 class="card-text">Doctor Who</h3>
                                </div>



                            </div>
                            <div class="card portades">
                                <img class="card-img-top" src="doctorwho.jpg" alt="Card image">

                                <div class="card-body">
                                    <h4 class="card-title">3x04 Blink</h4>
                                    <h3 class="card-text">Doctor Who</h3>
                                </div>



                            </div>
                            <div class="card portades">
                                <img class="card-img-top" src="doctorwho.jpg" alt="Card image">


                                <div class="card-body">
                                    <h4 class="card-title">3x04 Blink</h4>
                                    <h3 class="card-text">Doctor Who</h3>
                                </div>



                            </div>
                            <div class="card portades">
                                <img class="card-img-top" src="doctorwho.jpg" alt="Card image">

                                <div class="card-body">
                                    <h4 class="card-title">3x04 Blink</h4>
                                    <h3 class="card-text">Doctor Who</h3>
                                </div>


                            </div>
                            <div class="card portades">
                                <img class="card-img-top" src="doctorwho.jpg" alt="Card image">


                                <div class="card-body">
                                    <h4 class="card-title">3x04 Blink</h4>
                                    <h3 class="card-text">Doctor Who</h3>
                                </div>

                            </div>
                        </div>


                        <div class="serpeli_body2">
                            <div class="card portades">
                                <img class="card-img-top" src="doctorwho.jpg" alt="Card image">

                                <div class="card-body">
                                    <h4 class="card-title">3x04 Blink</h4>
                                    <h3 class="card-text">Doctor Who</h3>
                                </div>



                            </div>
                            <div class="card portades">
                                <img class="card-img-top" src="doctorwho.jpg" alt="Card image">

                                <div class="card-body">
                                    <h4 class="card-title">3x04 Blink</h4>
                                    <h3 class="card-text">Doctor Who</h3>
                                </div>



                            </div>
                            <div class="card portades">
                                <img class="card-img-top" src="doctorwho.jpg" alt="Card image">


                                <div class="card-body">
                                    <h4 class="card-title">3x04 Blink</h4>
                                    <h3 class="card-text">Doctor Who</h3>
                                </div>



                            </div>
                            <div class="card portades">
                                <img class="card-img-top" src="doctorwho.jpg" alt="Card image">

                                <div class="card-body">
                                    <h4 class="card-title">3x04 Blink</h4>
                                    <h3 class="card-text">Doctor Who</h3>
                                </div>


                            </div>
                            <div class="card portades">
                                <img class="card-img-top" src="doctorwho.jpg" alt="Card image">


                                <div class="card-body">
                                    <h4 class="card-title">3x04 Blink</h4>
                                    <h3 class="card-text">Doctor Who</h3>
                                </div>


                            </div>
                        </div>



                    </div>

                </div>

            </div>

        </div>
    </div>
</div>


