
<div *ngIf="genre">
    <h2><span jhiTranslate="furyViewerApp.genre.detail.title">Genre</span> {{genre.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="furyViewerApp.genre.name">Name</span></dt>
        <dd>
            <span>{{genre.name}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.genre.description">Description</span></dt>
        <dd>
            <span>{{genre.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'genre/'+ genre.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
