
<div *ngIf="hatredMovie">
    <h2><span jhiTranslate="furyViewerApp.hatredMovie.detail.title">Hatred Movie</span> {{hatredMovie.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="furyViewerApp.hatredMovie.hated">Hated</span></dt>
        <dd>
            <span>{{hatredMovie.hated}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.hatredMovie.date">Date</span></dt>
        <dd>
            <span>{{hatredMovie.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.hatredMovie.movie">Movie</span></dt>
        <dd>
            <div *ngIf="hatredMovie.movie">
                <a [routerLink]="['/movie', hatredMovie.movie?.id]">{{hatredMovie.movie?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.hatredMovie.user">User</span></dt>
        <dd>
            {{hatredMovie.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'hatred-movie/'+ hatredMovie.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
