
<div *ngIf="company">
    <h2><span jhiTranslate="furyViewerApp.company.detail.title">Company</span> {{company.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="furyViewerApp.company.name">Name</span></dt>
        <dd>
            <span>{{company.name}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.company.description">Description</span></dt>
        <dd>
            <span>{{company.description}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.company.fundingDate">Funding Date</span></dt>
        <dd>
            <span>{{company.fundingDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.company.clossingDate">Clossing Date</span></dt>
        <dd>
            <span>{{company.clossingDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.company.imgUrl">Img Url</span></dt>
        <dd>
            <span>{{company.imgUrl}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.company.urlWeb">Url Web</span></dt>
        <dd>
            <span>{{company.urlWeb}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.company.country">Country</span></dt>
        <dd>
            <div *ngIf="company.country">
                <a [routerLink]="['/country', company.country?.id]">{{company.country?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'company/'+ company.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
