<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFavouriteArtistLabel" jhiTranslate="furyViewerApp.favouriteArtist.home.createOrEditLabel">Create or edit a Favourite Artist</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!favouriteArtist.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="favouriteArtist.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.favouriteArtist.liked" for="field_liked">Liked</label>
            <input type="checkbox" class="form-control" name="liked" id="field_liked"
                [(ngModel)]="favouriteArtist.liked"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.favouriteArtist.date" for="field_date">Date</label>
            <div class="d-flex">
                <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="favouriteArtist.date"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.favouriteArtist.artist" for="field_artist">Artist</label>
            <select class="form-control" id="field_artist" name="artist" [(ngModel)]="favouriteArtist.artist" >
                <option [ngValue]="null"></option>
                <option [ngValue]="artistOption.id === favouriteArtist.artist?.id ? favouriteArtist.artist : artistOption" *ngFor="let artistOption of artists; trackBy: trackArtistById">{{artistOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.favouriteArtist.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="favouriteArtist.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === favouriteArtist.user?.id ? favouriteArtist.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
