
<div *ngIf="favouriteArtist">
    <h2><span jhiTranslate="furyViewerApp.favouriteArtist.detail.title">Favourite Artist</span> {{favouriteArtist.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="furyViewerApp.favouriteArtist.liked">Liked</span></dt>
        <dd>
            <span>{{favouriteArtist.liked}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.favouriteArtist.date">Date</span></dt>
        <dd>
            <span>{{favouriteArtist.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.favouriteArtist.artist">Artist</span></dt>
        <dd>
            <div *ngIf="favouriteArtist.artist">
                <a [routerLink]="['/artist', favouriteArtist.artist?.id]">{{favouriteArtist.artist?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.favouriteArtist.user">User</span></dt>
        <dd>
            {{favouriteArtist.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'favourite-artist/'+ favouriteArtist.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
