<jhi-page-ribbon></jhi-page-ribbon>
<div>
    <router-outlet name="navbar"></router-outlet>
</div>

<!--
<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            <router-outlet name="sidebar">

            </router-outlet>
        </div>
        <div class="col-11 card jh-card">
            <router-outlet></router-outlet>
            <router-outlet name="popup"></router-outlet>
        </div>
    </div>
    <jhi-footer></jhi-footer>
</div>
-->

<ng-sidebar-container style="height: 100vh;">

    <ng-sidebar [(opened)]="_opened"
                [mode]="'over'"
                [dock]="dock"
                [dockedSize]="'7.5vh'"
                [(closeOnClickOutside)]="out"
                (mouseover)="_toggleSidebar()"
                (mouseout)="_toggleSidebar()"

    >
        <div style="background-color: black; height: 100%; width: 20vh;">
            <ul class="list-unstyled components container-fluid">

                <li class="row" routerLink="/">

                    <div class="titol col-5" style="display: inline-block; color: white;" routerLink="/">Home</div>
                    <i class="fa fa-home fa-2x col-2 "></i>
                </li>


                <li class="row">

                    <div class="titol col-5" style="display: inline-block; color: white;" routerLink="/user-ext">Perfil</div>
                    <i class="fa fa-user fa-2x col-2  "></i>
                </li>


                <li class="row">

                    <div class="titol col-5" style="display: inline-block; color: white;" routerLink="/watchlist">Watchlist</div>
                    <i class="fa fa-eye fa-2x col-2"></i>
                </li>

                <li class="row">

                    <div class="titol col-5" style="display: inline-block; color: white;"><a href="">Búsqueda</a></div>
                    <i class="fa fa-search fa-2x col-2 "></i>
                </li>

                <li class="row">

                    <div class="titol col-5" style="display: inline-block; color: white;"><a href="">Calendario</a></div>
                    <i class="fa fa-calendar fa-2x col-2 "></i>
               </li>


                <li class="row">

                    <div class="titol col-5" style="display: inline-block; color: white;"><a href="">About</a></div>
                    <i class="fa fa-info-circle fa-2x col-2 "></i>
                </li>

            </ul>
        </div>
    </ng-sidebar>

    <div ng-sidebar-content>
        <div style="left: 0vh;" class="card jh-card">
            <router-outlet></router-outlet>
            <router-outlet name="popup"></router-outlet>
        </div>
        <jhi-footer></jhi-footer>
    </div>

</ng-sidebar-container>
