.glyphicon {
    font-size: 25px;
    color: orange;
    margin: auto;
    margin-right: 16%;
    margin-top: 11%;
}
.titol{
    margin-top:17%;
    magin-left:-6%;
}
li:hover{
    color:orange;
}

a{
    font-family: Roboto;
    color:white;
    text-decoration: none;

}

.fa{
    font-size: 25px;
    color: orange;
    margin: auto;
    margin-right: 16%;
    margin-top: 11%;
}
