.glyphicon {
    font-size: 25px;
    color: #ffc946;
    margin: auto;
    margin-right: 16%;
    margin-top: 16%;
}
.titol{
    margin-top:17%;
    magin-left:-6%;
}
li:hover{
    color:#ffc946;
}
#perfillink:hover{
    color: #ffc946;

}

a{
    font-family: Roboto;
    color:white;
    text-decoration: none;

}

.fa{
    font-size: 25px;
    color: #ffc946;
    margin: auto;
    margin-right: 16%;
    margin-top: 16%;
}


.fa.fa-user{
    margin-right: 14%;
}


.fa.fa-info-circle{
    margin-right: 15.5%;
}

#homeMenu:hover #homelink{
    color: #ffc946 !important;
    cursor: pointer;
}
#perfilMenu:hover #perfillink{
    color: #ffc946 !important;
    cursor: pointer;
}
#watchMenu:hover #watchlink{
    color: #ffc946 !important;
    cursor: pointer;
}
#searchMenu:hover #searchlink{
    color: #ffc946 !important;
    cursor: pointer;
}
#aboutMenu:hover #aboutlink{
    color: #ffc946 !important;
    cursor: pointer;
}
#calendarMenu:hover #calendarlink{
    color: #ffc946 !important;
    cursor: pointer;
}
