<jhi-page-ribbon></jhi-page-ribbon>
<div>
    <router-outlet name="navbar"></router-outlet>
</div>

<!--
<div class="container-fluid">
    <div class="row">
        <div class="col-1">
            <router-outlet name="sidebar">

            </router-outlet>
        </div>
        <div class="col-11 card jh-card">
            <router-outlet></router-outlet>
            <router-outlet name="popup"></router-outlet>
        </div>
    </div>
    <jhi-footer></jhi-footer>
</div>
-->

<ng-sidebar-container id="scroll" style="min-height: 85vh">
    <ng-sidebar *ngIf="isAuthenticated()" [(opened)]="_opened"
                [mode]="'over'"
                [dock]="dock"
                [dockedSize]="'7.5vh'"
                [(closeOnClickOutside)]="out"
                (mouseover)="_toggleSidebar()"
                (mouseout)="_toggleSidebar()"

        >
            <div style="background-color: black; height: 100%; width: 100%;">
            <ul class="list-unstyled components container-fluid" style="text-transform: uppercase">

                <li class="row" [routerLink]="['/home']" id="homeMenu">

                    <div class="titol col-5" style="display: inline-block; color: white;"><a  id="homelink" >Home</a></div>
                    <i class="fa fa-home fa-2x col-2 "></i>
                </li>


                <li class="row"  [routerLink]="['/user-ext']" id="perfilMenu">

                    <div  class="titol col-5" style="display: inline-block; color: white;"><a id="perfillink" >Profile</a></div>
                    <i class="fa fa-user fa-2x col-2  "></i>
                </li>


                <li class="row" id="watchMenu" [routerLink]="['/watchlist']">

                    <div class="titol col-5" style="display: inline-block; color: white;"><a id="watchlink" >Watchlist</a></div>
                    <i class="fa fa-eye fa-2x col-2"></i>
                </li>

                <li class="row" id="searchMenu"  [routerLink]="['/search']">

                    <div class="titol col-5" style="display: inline-block; color: white;"><a  id="searchlist">Search</a></div>
                    <i class="fa fa-search fa-2x col-2 "></i>
                </li>

                <li class="row" id="calendarMenu" [routerLink]="['/calendar']">

                    <div class="titol col-5" style="display: inline-block; color: white; "><a id="calendarlink" >Calendar</a></div>
                    <i class="fa fa-calendar fa-2x col-2 "></i>
               </li>


                <li class="row"  id="aboutMenu" [routerLink]="['/country']">

                    <div class="titol col-5" style="display: inline-block; color: white;"><a  id="aboutlink" >About</a></div>
                    <i class="fa fa-info-circle fa-2x col-2 "></i>
                </li>

            </ul>
        </div>
    </ng-sidebar>

    <div ng-sidebar-content>
        <div style="left: 0vh;" class="card jh-card">
            <router-outlet id="main"></router-outlet>
            <router-outlet name="popup" class=""></router-outlet>
        </div>
        <jhi-footer *ngIf="isAuthenticated()"></jhi-footer>
    </div>

</ng-sidebar-container>
