.glyphicon {
    font-size: 25px;
    color: orange;
    margin: auto;
    margin-right: 16%;
    margin-top: 16%;
}
.titol{
    margin-top:17%;
    magin-left:-6%;
}
li:hover{
    color:orange;
}
#perfillink:hover{
    color: orange;

}

a{
    font-family: Roboto;
    color:white;
    text-decoration: none;

}

.fa{
    font-size: 25px;
    color: orange;
    margin: auto;
    margin-right: 16%;
    margin-top: 16%;
}


.fa.fa-user{
    margin-right: 14%;
}


.fa.fa-info-circle{
    margin-right: 15.5%;
}

