
<div *ngIf="reviewSeries">
    <h2><span jhiTranslate="furyViewerApp.reviewSeries.detail.title">Review Series</span> {{reviewSeries.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="furyViewerApp.reviewSeries.date">Date</span></dt>
        <dd>
            <span>{{reviewSeries.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.reviewSeries.title">Title</span></dt>
        <dd>
            <span>{{reviewSeries.title}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.reviewSeries.review">Review</span></dt>
        <dd>
            <span>{{reviewSeries.review}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.reviewSeries.series">Series</span></dt>
        <dd>
            <div *ngIf="reviewSeries.series">
                <a [routerLink]="['/series', reviewSeries.series?.id]">{{reviewSeries.series?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.reviewSeries.user">User</span></dt>
        <dd>
            {{reviewSeries.user?.login}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'review-series/'+ reviewSeries.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
