<div>


















    <!--<h2>
        <span jhiTranslate="furyViewerApp.userExt.home.title">User Exts</span>
        <button class="btn btn-primary float-right jh-create-entity create-user-ext" [routerLink]="['/', { outlets: { popup: ['user-ext-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="furyViewerApp.userExt.home.createLabel">
            Create new User Ext
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userExts">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="furyViewerApp.userExt.image">Image</span></th>
            <th><span jhiTranslate="furyViewerApp.userExt.locationGoogleMaps">Location Google Maps</span></th>
            <th><span jhiTranslate="furyViewerApp.userExt.latitude">Latitude</span></th>
            <th><span jhiTranslate="furyViewerApp.userExt.longitude">Longitude</span></th>
            <th><span jhiTranslate="furyViewerApp.userExt.user">User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userExt of userExts ;trackBy: trackId">
                <td><a [routerLink]="['../user-ext', userExt.id ]">{{userExt.id}}</a></td>
                <td>
                    <a *ngIf="userExt.image" (click)="openFile(userExt.imageContentType, userExt.image)">
                        <img [src]="'data:' + userExt.imageContentType + ';base64,' + userExt.image" style="max-height: 30px;" alt="userExt image"/>
                    </a>
                    <span *ngIf="userExt.image">{{userExt.imageContentType}}, {{byteSize(userExt.image)}}</span>
                </td>
                <td>{{userExt.locationGoogleMaps}}</td>
                <td>{{userExt.latitude}}</td>
                <td>{{userExt.longitude}}</td>
                <td>
                    {{userExt.user?.login}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../user-ext', userExt.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-ext/'+ userExt.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-ext/'+ userExt.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>-->
</div>
