<script src="index.ts"></script>
<div class="fons ">
    <div class="row">
        <div class="hola col-12" style="padding-top: 100px;">

            <div class="row infoProfile">
                <div class="col-12">
                    <img src="../../../content/images/fotoperfil.png" class="imatgeperf" style="display: block;"/>
                </div>
                <div class="col-12">
                    <h2 style="display: block;">@{{userName}}</h2>
                </div>

            </div>

            <div class="cos_perfil">



                    <div class="row" style="padding-left: 50px; padding-right: 50px;">
                        <div class="col-4" style="border-top: 3px solid #a2a2a259;margin-top: 5%;"></div>
                        <div class="col-4 title-aboutus" style="font-size: 1.5em;">SERIES</div>
                        <div class="col-4" style="border-top: 3px solid #a2a2a259;margin-top: 5%;"></div>
                    </div>

                    <div class="card pendientes" style="margin-bottom: 0px !important;">
                        <div ass="card-body" style="padding-top: 15px;">

                        <div class="serpeli_body2" style="padding-left: 20px; padding-right: 20px;">

                            <div class="row">
                                    <div class="col-1"></div>
                                    <div class="col-2" style="text-align: center;">
                                        <i class="fa fa-eye-slash fa-2x iconProfile" style=""></i>
                                        <p class="numberProfile">{{numSeriesSeen}}</p>
                                        <p class="txtProfile">VIEWED</p>
                                    </div>
                                    <div class="col-2" style="text-align: center;">
                                        <i class="fa fa-angle-double-right fa-2x iconProfile"></i>
                                        <p class="numberProfile">{{numSeriesFollowing}}</p>
                                        <p class="txtProfile">FOLLOWING</p>
                                    </div>
                                    <div class="col-2" style="text-align: center;">
                                        <i class="fa fa-edit fa-2x iconProfile"></i>
                                        <p class="numberProfile">{{numSeriesPending}}</p>
                                        <p class="txtProfile">PENDING</p>
                                    </div>
                                    <div class="col-2" style="text-align: center;">
                                        <i class="fa fa-heart fa-2x iconProfile"></i>
                                        <p class="numberProfile">{{numSeriesFav}}</p>
                                        <p class="txtProfile">FAVORITES</p>
                                    </div>
                                    <div class="col-2" style="text-align: center;">
                                        <i class="fa fa-thumbs-down fa-2x iconProfile"></i>
                                        <p class="numberProfile">{{numSeriesHatred}}</p>
                                        <p class="txtProfile">HATRED</p>
                                    </div>
                                    <div class="col-1"></div>

                            </div>


                        </div>

                        <div class="row" style="padding-left: 50px; padding-right: 50px; padding-top: 60px;">
                            <div class="col-4" style="border-top: 3px solid #a2a2a259;margin-top: 5%;"></div>
                            <div class="col-4 title-aboutus" style="font-size: 1.5em;">MOVIES</div>
                            <div class="col-4" style="border-top: 3px solid #a2a2a259;margin-top: 5%;"></div>
                        </div>

                        <div class="card pendientes" style="margin-bottom: 0px !important;">
                            <div class="card-body" style="padding-top: 15px;">

                                <div class="serpeli_body2" style="padding-left: 20px; padding-right: 20px;">

                                    <div class="row">

                                        <div class="col-2"></div>

                                        <div class="col-2" style="text-align: center;">
                                            <i class="fa fa-eye-slash fa-2x iconProfile" style=""></i>
                                            <p class="numberProfile">{{numMoviesSeen}}</p>
                                            <p class="txtProfile">VIEWED</p>
                                        </div>
                                        <div class="col-2" style="text-align: center;">
                                            <i class="fa fa-edit fa-2x iconProfile"></i>
                                            <p class="numberProfile">{{numMoviesPending}}</p>
                                            <p class="txtProfile">PENDING</p>
                                        </div>
                                        <div class="col-2" style="text-align: center;">
                                            <i class="fa fa-heart fa-2x iconProfile"></i>
                                            <p class="numberProfile">{{numMoviesFav}}</p>
                                            <p class="txtProfile">FAVORITES</p>
                                        </div>
                                        <div class="col-2" style="text-align: center;">
                                            <i class="fa fa-thumbs-down fa-2x iconProfile"></i>
                                            <p class="numberProfile">{{numMoviesHatred}}</p>
                                            <p class="txtProfile">HATRED</p>
                                        </div>

                                        <div class="col-2"></div>
                                    </div>


                                </div>

                                <div class="row" style="padding-left: 50px; padding-right: 50px; padding-top: 60px;">
                                    <div class="col-4" style="border-top: 3px solid #a2a2a259;margin-top: 5%;"></div>
                                    <div class="col-4 title-aboutus" style="font-size: 1.5em;">ARTISTS</div>
                                    <div class="col-4" style="border-top: 3px solid #a2a2a259;margin-top: 5%;"></div>
                                </div>

                                <div class="card pendientes" style="margin-bottom: 0px !important;">
                                    <div class="card-body" style="padding-top: 15px;">

                                        <div class="serpeli_body2" style="padding-left: 20px; padding-right: 20px;">

                                            <div class="row">

                                                <div class="col-4"></div>

                                                <div class="col-2" style="text-align: center;">
                                                    <i class="fa fa-heart fa-2x iconProfile"></i>
                                                    <p class="numberProfile">{{numArtistFav}}</p>
                                                    <p class="txtProfile">FAVORITES</p>
                                                </div>
                                                <div class="col-2" style="text-align: center;">
                                                    <i class="fa fa-thumbs-down fa-2x iconProfile"></i>
                                                    <p class="numberProfile">{{numArtistHatred}}</p>
                                                    <p class="txtProfile">HATRED</p>
                                                </div>

                                                <div class="col-4"></div>
                                            </div>


                                        </div>


                      <!--<div style="display: inline-block; height: 7vw;">
                          <div id="plus_watchlist" [routerLink]="['/', { outlets: { popup: ['movie-pending'] } }]">+</div>
                      </div>-->

                </div>

            </div>

        </div>

    </div>
