<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMovieStatsLabel" jhiTranslate="furyViewerApp.movieStats.home.createOrEditLabel">Create or edit a Movie Stats</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!movieStats.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="movieStats.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.movieStats.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="movieStats.status" id="field_status" >
                <option value="PENDING">{{'furyViewerApp.MovieStatsEnum.PENDING' | translate}}</option>
                <option value="SEEN">{{'furyViewerApp.MovieStatsEnum.SEEN' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.movieStats.date" for="field_date">Date</label>
            <div class="d-flex">
                <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="movieStats.date"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.movieStats.movie" for="field_movie">Movie</label>
            <select class="form-control" id="field_movie" name="movie" [(ngModel)]="movieStats.movie" >
                <option [ngValue]="null"></option>
                <option [ngValue]="movieOption.id === movieStats.movie?.id ? movieStats.movie : movieOption" *ngFor="let movieOption of movies; trackBy: trackMovieById">{{movieOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.movieStats.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="movieStats.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === movieStats.user?.id ? movieStats.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
