/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/hipster.png") no-repeat center top;
    background-size: contain;
}




/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (     -o-min-device-pixel-ratio: 2/1), only screen and (        min-device-pixel-ratio: 2), only screen and (                min-resolution: 192dpi), only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}


/* SWITCH -----------------------------------------------------------------------------------------------------------------------------------------------*/
.switchinv {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
}

/* Hide default HTML checkbox */
.switchinv input {display:none;}

/* The slider */
.sliderinv {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
}

.sliderinv:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .sliderinv {
    background-color: orange;
}

input:focus + .sliderinv {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .sliderinv:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.sliderinv.roundinv {
    border-radius: 16px;
}

.sliderinv.roundinv:before {
    border-radius: 50%;
}

/* FI SWITCH--------------------------------------------------------*/

#plus{
    display: inline-block;
    margin-top: 6vw;
    border: 2px solid #ef9800;
    color: #ef9800;
    border-radius: 30px;
    padding: 2px 11px;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: bold;

}

#plus2{
    display: inline-block;
    margin-top: 6vw;
    border: 2px solid #ef9800;
    color: #ef9800;
    border-radius: 30px;
    padding: 2px 11px;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: bold;

}

#plus:hover{
     cursor: pointer;
     background-color: #ef9800;
     color: white;

}

#plus2:hover{
    cursor: pointer;
    background-color: #ef9800;
    color: white;

}

.seriesChapter{
    font-size: 13px;
    color: #ef9800;
    font-weight: 600;
}

.seriesTitle{
    font-size: 12px;
    margin-top: 6px;
}


.list-group-item {
    display: inline-block;
    padding: 0;
    border-style: none;
    border: none;
    text-align: left;
}

.list-group {
    margin: 2%;
}

ol {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
}

li {
    display: block;
    margin-bottom: 3%;
    margin-left: 2em;
}

.list-group > li::before {
    display: inline-block;
    content: counter(item);
    counter-increment: item;
    background-color: #ef9800;
    text-align: center;
    border-radius: 1.5em;

    width: 1.5em;
    height: 1.5em;
    color: white;
    margin-left: -1.6em;
}


