<div class="row">
    <div class="col-md-9">
    <div class="panel panel-default">
        <div class="jumbotron">VERY VERY SCARY</div>
    </div>
        <div class="panel panel-default">
            <div class="jumbotron">VERY VERY SCARY</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="cardblock">
            <div class="row">
                <div class="col-md-6">TODAY</div>
                <div class="col-md-6">Tomorrow</div>
            </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="jumbotron">VERY VERY SCARY</div>
        </div>
    </div>
</div>
