<div class="fons container-fluid ">
    <div class="row ">
        <div class="col-lg-8 col-md-12">
            <div class="card pendientes">
                <div class="card-body">
                    <div class="serpeli_body">
                        <h2 class="card-title" style="font-size: 30px;">PENDING CHAPTERS</h2>
                        <div class="card portades" *ngFor="let episode of episodePending"
                             [routerLink]="['/series', episode?.id]">
                            <img class="card-img-top" src="{{episode.urlCartel}}" alt="Card image">
                            <div class="card-body">
                                <h4 class="card-title seriesChapter" style="font-size: 15px; font-weight: 400;">{{episode.seasonNumber}}x{{episode.episodeNumber}}
                                    {{episode.titleEpisode}}</h4>
                                <h3 class="card-text seriesTitle" style="letter-spacing: 0.7px; text-transform: uppercase"> {{episode.titleSeries}} </h3>
                            </div>
                        </div>
                        <div style="display: inline-block; height: 11vw;">
                            <div id="plus" [routerLink]="['/', { outlets: { popup: ['episode-next'] } }]">+</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card pendientes align-top">
                <div class="card-body">
                    <div class="serpeli_body">
                        <h2 class="card-title container" style="font-size: 30px;">PENDING FILMS</h2>
                        <div class="card portades" *ngFor="let movie of moviesPending"
                             routerLink="/movie/{{movie.id}}">
                            <img class="card-img-top" src="{{movie.imgUrl}}" alt="Card image">
                            <div class="card-body">
                                <h4 style="font-size: 15px; font-weight: 300;">{{movie.name}}</h4>
                            </div>
                        </div>
                        <div style="display: inline-block; height: 11vw;">
                            <div id="plus2" [routerLink]="['/', { outlets: { popup: ['movie-pending'] } }]">+</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12" id="lateralDret">
            <div class="row">
                <div class="col-12 ">
                    <div class="card calendario">
                        <div class="card-body">
                            <div class="card-title row ">
                                <div class=" col-md-6" id="titlecalendar">
                                    <h2 id="calendario">Calendar</h2>
                                </div>
                                <div class="col-md-6" id="botoncalendar">
                                    <button> SERIES</button>
                                    <button> FILMS</button>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md col-xs-12" style="padding-right: 9px;">
                    <div class="card topSeries">
                        <div class="card-body">
                            <div id="topseries">
                                <div class="row">
                                    <h2 class="col-9">Top series</h2>
                                    <label class="switchinv col-3">
                                        <input type="checkbox">
                                        <span class="sliderinv roundinv"></span>
                                    </label>

                                </div>
                                <ol class="list-group">
                                    <li *ngFor="let serie of topSeries " class="list-group-item"> {{serie}}</li>
                                </ol>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md col-xs-12" style="padding-right: 9px;">
                    <div class="card topSeries">

                        <div class="card-body">
                            <div id="toppelis">
                                <div class="row">
                                    <h2 class="col-9">Top films</h2>

                                    <label class="switchinv col-3">
                                        <input type="checkbox">
                                        <span class="sliderinv roundinv"></span>
                                    </label>

                                </div>
                                <ol class="list-group">
                                    <li *ngFor="let movie of topPelis" class="list-group-item"> {{movie.name}}</li>

                                </ol>

                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="row">
                <div class="col-md col-xs-12" style="padding-right: 9px;">
                    <div class="card topSeries">

                        <div class="card-body">
                            <div id="topArtist">

                                <h2>Top Artist</h2>

                                <ol class="list-group">
                                    <li *ngFor="let serie of topSeries " class="list-group-item"> {{serie}}</li>
                                </ol>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md col-xs-12">
                    <div class="card topPelis">

                        <div class="card-body">
                            <div id="topHatredArtist">

                                <h2>Top Hatred artist</h2>


                                <ol class="list-group">
                                    <li *ngFor="let movie of topPelis" class="list-group-item"> {{movie.name}}</li>

                                </ol>


                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>

