@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500,600,700,800|Roboto:200,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400');


/* ==============================================================
Bootstrap tweaks
===============================================================*/

body, h1, h2, h3, h4 {
    font-weight: 300;
}

h1, h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

body {
    background: #e4e5e6;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

a {
    color: white;
    /*font-weight: bold;*/
}

a:hover {
    color: orange;
    /*font-weight: bold;*/
    text-decoration: none;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required], .ng-valid.required {
    border-left: 5px solid green;
}

.ng-invalid:not(form) {
    border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
    /*   padding: 1.5%;
       margin-top: 20px;*/
    border: none;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, .125);
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
    cursor: pointer;
}

.hand, [jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert {
    text-overflow: ellipsis;
}

.alert pre {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .row.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .card-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-secondary,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-secondary {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* ==========================================================================
Social Buttons
========================================================================== */

.jh-btn-social {
    margin-bottom: 5px;
}

.jh-btn-google {
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-google:hover, .jh-btn-google:focus, .jh-btn-google:active, .jh-btn-google.active, .open > .dropdown-toggle.jh-btn-google {
    background-color: #c23321;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook {
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-facebook:hover, .jh-btn-facebook:focus, .jh-btn-facebook:active, .jh-btn-facebook.active, .open > .dropdown-toggle.jh-btn-facebook {
    background-color: #2d4373;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-twitter {
    background-color: #55acee;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

.jh-btn-twitter:hover, .jh-btn-twitter:focus, .jh-btn-twitter:active, .jh-btn-twitter.active, .open > .dropdown-toggle.jh-btn-twitter {
    background-color: #2795e9;
    border-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

/* jhipster-needle-css-add-main JHipster will add new css style */

.middle {
    background-color: red;
    height: 200px;
}

.imgFilm {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
    /*-webkit-box-shadow: -1px 0px 12px 3px rgba(239, 152, 0, 1);
    -moz-box-shadow: -1px 0px 12px 3px rgba(239, 152, 0, 1);
    box-shadow: -1px 0px 12px 3px rgba(239, 152, 0, 1);*/
}

.nameTitle {
    padding: 5% 8px;
    text-align: left;
}

.stars {
    font-size: 2.1em;
    color: #ffc946;
}

.furyColor {
    color: #ef9800;
}

.whiteBox {
    background-color: white;
    height: 100%;
    border-radius: 10px;
    padding: 0px 12px;
}

.boxList {

    background-color: white;
    border-radius: 10px;
    padding: 4px 0px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #ef9800;

}

.boxList:hover {
    background-color: #ef9800 !important;
    color: white !important;
    cursor: pointer;
}

.boxList:hover i {

    color: white !important;
    cursor: pointer;
}

.faLeft {
    padding-left: 30%;
}

.iconoFilm {
    display: inline-block;
}

.infoFilm {
    display: inline-block;
}

.infoBox {
    display: block;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 12px;
    text-align: left;
}

.infoBar {
    display: block;
    background-color: white;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 12px;
    text-align: left;
}

.progress {
    background-color: #ff1d1db5;
}

.infoArtist {
    font-weight: normal;
    font-size: 13px;
    color: #3b3b3b;
    margin-left: 5px;
}

.infoArtist:hover {
    color: #f5bb56;
    font-size: 13px;
    text-decoration: none;
    font-weight: normal;
}

.styleArtist {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: normal;
}

.imgComent {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    margin-top: 10px;
}

#btnComen {
    border-color: #ef9800 !important;
    background-color: transparent;
    border-style: solid;
    color: #ef9800;
    text-align: right;
}

#btnComen:hover {
    border-color: #ef9800 !important;
    background-color: #ef9800;
    border-style: solid;
    color: #ffffff;
    cursor: pointer;
}

#reparto {
    font-weight: 300;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#filmography {
    font-weight: 300;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#boxReparto {
    width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 4px 0px;
    margin-bottom: 40px;
}

.infoWebs1 {
    display: inline-block;
    margin-right: 15px;
    width: 140px;
    float: left;
}

.infoWebs2 {
    display: inline-block;
    float: right;
    color: #ef9800;
}

.infoWebs3 {
    width: 200px;
    margin-bottom: -10px;
    display: inline-block;
}

#divShowHide {
    position: absolute;
    border: 2px solid #ef9800;
    background-color: white;
    right: 30px;
    margin-top: -15px;
    padding: 10px;
    max-width: 100%;
}

#plus:hover {
    cursor: pointer;
    background-color: #ef9800;
    color: white;
}

.plus2 {
    display: inline-block;
    border: 2px solid #ef9800;
    color: #ef9800;
    border-radius: 30px;
    padding: 5px 14px;
    padding-bottom: 5px;
    font-size: 20px;
    font-weight: bold;

}

.plus2:hover {
    cursor: pointer;
    background-color: #ef9800;
    color: white;
}

ngb-popover-window {
    border: 2px solid #ef9800 !important;
    font-size: 15px !important;
}

/* ====================================================================================================================================================
HOME
==================================================================================================================================================== */

.portades:hover > .card-img-top {
    -webkit-box-shadow: -1px 0px 75px 14px rgba(239, 152, 0, 1);
    -moz-box-shadow: -1px 0px 75px 14px rgba(239, 152, 0, 1);
    box-shadow: -1px 0px 75px 14px rgba(239, 152, 0, 1);
    /* width: 94%;
     height: 13vw;
     object-fit: cover;

     position: absolute;
     left: 0;
     top: -2vm;*/
}

.card.portades:hover {
    font-weight: 600 !important;
}

.portades:hover {
    cursor: pointer;
}

.card.portades {
    background-color: transparent;
}

.card-img-top {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.portades > .card-body {
    height: 51px;
}

.portades {
    vertical-align: top;
}

.card.portades {
    display: inline-block;
    width: 17%;
    height: 20%;
    margin-top: 2%;
    margin-bottom: 2%;

}

.card {
    border: none;

    text-align: center;
    border-radius: 10px ;

}

#lateralDret > .row {
    height: 32%;
}

#lateralDret > .row:nth-child(n+2) {

    margin-top: 3%;
}

#lateralDret > .row > div {
    height: 100%;
}

jhi-main {
    background-color: #d2d3d2;
}

.portada {
    display: inline-block;
    width: 20%;
    height: 100px;
    background-color: #55acee;
    margin: 1.5%;

}

.card.portades {
    display: inline-block;
    width: 17%;
    height: 20%;
    margin-top: 2%;
    margin-bottom: 2%;

}

h2 {
    text-align: center;
    font-size: 1.3rem;
}

#titlecalendar {
    margin-top: 1.5%;
}



.card h4 {
    font-size: 1.1rem;
}

.card h3 {
    font-size: 1rem;
}

.card-body {

    padding: 0.5rem;
}

.calendario {
    /*left: 0;*/
    height: 48%;

}

.card.topSeries, .card.topPelis {
    height: 100%;
    margin-left: -6%;
    margin-bottom: 4%;

}
.card.topSeries{
    max-width: 103%;
}

.card.calendario {
    margin-left: -3%;
    margin-bottom: 4%;
    height: 100%;
}

.tops {
    margin-top: 4%;
    height: 48%;
}

#lateralDret li {
    font-size: 14px;
}

#botoncalendar {
    margin-top: 1%;
}

.calendario > .card-title {
    text-align: left;
    display: inline-block;
    padding-top: 5%;

}

.card-title {
    margin-bottom: 2%;

}

#titlecalendar {
    display: inline-block;
}

#botoncalendar {
    display: inline-block;

}

button {
    border-color: #ef9800;
    background-color: transparent;
    border-style: solid;
    color: #ef9800;
    font-size: 1rem;
    font-weight: 300;

}

button:hover {
    /* border-color: #ef9800 !important;*/
    background-color: #ef9800;
    border-style: solid;
    color: #ffffff;
    cursor: pointer;

}

.card-img-top {
    width: 84%;
    height: 11vw;
    object-fit: cover;
    border-radius: 10px;
}

.portades > .card-body {
    height: 51px;
}

.pelpendientes {
    margin-top: 5%;
}

.fons {
    background-color: #d2d3d2;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 8%;
    padding-right: 4%;
}

.jh-card {
    background-color: transparent;
    padding: 0;
    margin-top: 0;
}

.portades {
    vertical-align: top;
    display: inline-block;
}

.top {
    padding-top: 5%;
    padding-bottom: 8%;

}

#block_tops {
    margin-top: 20%;
}

.tops > .card {
    margin: 0 1%;
    padding-top: 2%;
}

.serpeli_body {
    margin-top: 1%;

}

.pendientes {
    height: 48.5%;
    margin-bottom: 2%;
}

.list-group-item {
    display: inline-block;
    padding: 0;
    border-style: none;
    border: none;
    text-align: left;
}

.list-group {
    margin: 2%;
}

ol {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
}

li {
    display: block;
    margin-bottom: 3%;
    margin-left: 2em;
}

.list-group > li::before {
    display: inline-block;
    content: counter(item);
    counter-increment: item;
    background-color: #ef9800;
    text-align: center;
    border-radius: 1.5em;

    width: 1.5em;
    height: 1.5em;
    color: white;
    margin-left: -1.6em;
}

.card.col-5 {
    padding-top: 3%;
    padding-bottom: 3%;
}

.portades:hover > .card-img-top {
    -webkit-box-shadow: -1px 0px 75px 14px rgba(239, 152, 0, 1);
    -moz-box-shadow: -1px 0px 75px 14px rgba(239, 152, 0, 1);
    box-shadow: -1px 0px 75px 14px rgba(239, 152, 0, 1);
    /* width: 94%;
     height: 13vw;
     object-fit: cover;

     position: absolute;
     left: 0;
     top: -2vm;*/
}

.card.portades:hover {
    font-weight: 600 !important;
}

.card.portades {
    background-color: transparent;
}

#topseries {
    display: inline-block;
    width: 100%;
}

#toppelis {
    display: inline-block;

}

.card.topSeries {
    text-align: left;
}

#toppelis h2 {
    font-size: 20px;
}

#topseries h2 {
    font-size: 20px;
}

.calendario h2 {
    font-size: 23px;
}

@media (max-width: 991.98px) {

    .card.calendario {
        margin-left: 0px;
        margin-top: 2%;
    }

    .card.topSeries {
        margin-left: 0px;
    }

    .card.topPelis {
        margin-left: 0px;
    }
}

/* ====================================================================================================================================================
Watchlist
==================================================================================================================================================== */

.cos {
    width: 72%;
    /* height: 35rem;*/
    min-height: 35rem;
    background-color: white;
    margin-bottom: 2rem;
    margin-top: 2%;
    margin-left: 15%;
    border-radius: 10px;
    text-align: center;
}

.cos-watchlist {
    width: 72%;
    /* height: 35rem;*/
    min-height: 35rem;
    background-color: white;
    margin-bottom: 2rem;
    margin-top: 2%;
    padding-bottom: 7rem;
    margin-left: 15%;
    border-radius: 10px;
    text-align: center;
}

.hola {
    width: 400px;
    /* height: 700px;*/
    background-color: #d2d3d2;

}

.radiob:hover {
    background-color: orangered;
}

#sidebarwatch {
    background-color: white;
    width: 9%;

    margin-top: 3%;
    float: left;
    margin-left: -8%;
    position: absolute;
    border-radius: 17px;
}

#botonspelser {
    padding-top: 3%;
}

input {
    margin-left: 3%;
}

#botons_sidebar i {
    margin: 13%;

}

#botons_sidebar {
    left: 0;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: -10%;
    font-size: 10px;
    text-align: center;

}

.icon_text {
    width: 100%;
    margin-top: 15%;
}

.rodona:hover {
    border-style: solid;
    border-color: orange;
    background-color: transparent;
    border-radius: 50px;
    width: 47px;
    height: 47px;
    color: orange;

}

.rodona {
    border-style: solid;
    border-color: orange;
    background-color: orange;
    border-radius: 50px;
    width: 47px;
    height: 47px;
    margin-top: 16px;
    color: white;
    margin: 0 auto;
    margin-bottom: 5%;

}

.card-img-top:hover {
    -webkit-box-shadow: -1px 0px 75px 14px rgba(239, 152, 0, 1);
    -moz-box-shadow: -1px 0px 75px 14px rgba(239, 152, 0, 1);
    box-shadow: -1px 0px 75px 14px rgba(239, 152, 0, 1);
    /* width: 94%;
     height: 13vw;
     object-fit: cover;

     position: absolute;
     left: 0;
     top: -2vm;*/
}

.serpeli_body2 {
    margin-top: 1%;
    text-align: left;
    margin-bottom: -4%;
    margin-left: 4rem;
}

/* SWITCH -----------------------------------------------------------------------------------------------------------------------------------------------*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
    border-color: orange;
    border-style: solid;
}

.sliderinv .roundinv::before {
    width: 55%;

}

#topseries .col-3 {
    max-width: 10%;
}

#toppelis .col-3 {
    max-width: 10%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: orange;

    border-width: 1.5px;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: transparent;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;

}

.slider.round:before {
    border-radius: 50%;
}

.text_switch {
    display: inline-block;
    vertical-align: top;
    padding-top: 1%;
    margin-left: 1%;
    font-size: 15px;
    font-weight: bolder;
    margin-right: 1%;
}

/* FI SWITCH--------------------------------------------------------*/

/* ====================================================================================================================================================
 PERFIL
==================================================================================================================================================== */

.cos_perfil {
    width: 70%;
    padding-bottom: 3rem;
    padding-top: 2rem;
    background-color: white;
    margin-bottom: 3%;
    margin-top: 3%;
    margin-left: 15%;
    border-radius: 10px;
    text-align: center;
}

.info_perfil {
    width: 70%;
    /* height: 23%;*/
    /* background-color: white;*/
    margin-top: 3%;
    margin-left: 15%;
    border-radius: 10px;
    text-align: center;
}

.block-perfil {
    width: 70%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    text-align: left;

}

#sidebarwatch_perfil {
    background-color: white;
    width: 12%;
    height: 73%;
    margin-top: 7%;
    float: left;
    margin-left: -11%;
    border-radius: 10px;
}

.imgperfil {
    padding-top: 3%;
    padding-left: 4%;
}

.imatgeperf {
    border-radius: 100%;
    margin-left: 28%;
    border-radius: 100%;
    margin-left: 28%;
    margin-top: -34%;
    border-style: solid;
    border-color: orange;
    border-width: 2px;
    background-color: white;

}

.info {
    text-align: left;
    /*padding-top: 3%;
    padding-left: 6%;
    padding-bottom: 4%;*/
    padding-top: 6%;
    padding-bottom: 2%;
    background-color: white;
    border-radius: 10px;

}

.info2 {
    text-align: left;
    padding-top: 3%;
    padding-bottom: 4%;
    background-color: white;
    border-radius: 10px;
    background-image: url('peli1.jpg');
    background-position-x: center;
    /*    text-align: left;
    margin-left: 23%;
    width: 45.6%;
    height: 22.5%;
    padding-top: 3%;
    padding-bottom: 4%;
    background-color: white;
    border-radius: 10px;
    background-image: url(content/114bef8….jpg);
    background-position-x: center;
    position: absolute;
    background-repeat: no-repeat;*/

}

.info2 h2 {
    font-size: 1.4rem;
    font-family: roboto;
}

.text_info i {
    margin-right: 3%;
    color: orange;
}

.text_info {
    padding-top: 5%;
}

.valoracio {
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-color: orange;
    background-color: white;
    border-radius: 100px;
    width: 32px;
    margin-top: -9px;
    height: 32px;
    font-size: 1.7rem;
}

.valoracio h2 {
    margin-top: 7%;
    margin: 6%;
    font-size: 1.5rem;
}

.info_perfil h2 {
    text-align: center;
    font-size: 1.5rem;
}

.inf {
    margin-left: 4%;
}

.info .button {
    text-align: right;
    margin-right: 2%;
    margin-top: 1rem;
}

.txtarea:focus {
    border: 1px solid #ef9800;
}

/* ====================================================================================================================================================
 SEARCH
==================================================================================================================================================== */
.form-control {
    padding: 0.2rem .75rem;
    border-radius: 100px;
}

.form-group {
    padding: 0.2rem .75rem;
    border-radius: 100px;
    margin-bottom: 3%;
}

.body-form {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 3%;
    padding-bottom: 5%;
}

select.form-control:not([size]):not([multiple]) {
    height: auto;
}


.all-formulari{
    border-bottom-style: solid;
    border-bottom-color: black;
    border-width: 1px;
    margin-bottom: 4%;
    padding-bottom: 2rem;
    padding-top: 2rem;

}

.selector-movieserie {
    width: 21%;
    background-color: white;
    margin-left: 34%;
    padding-top: 1%;
    border-radius: 12px 12px 0 0;
}

.modal-header {
    border-bottom: 4px solid orange;
    background-color: black;
    color: white;
}

.modal-footer {
    border-top: none;
    border-top: none;
}

.modal-body {
    padding-bottom: 4.5%;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
}

.modal-title {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.modal-title > button:hover {
    background-color: transparent !important;
}

.modal-content > .modal-body > .card-body h4 {
    font-weight: unset !important;
}

#actualSeason {
    background-color: orange !important;
    color: white !important;
    width: 65% !important;
    display: inline-block !important;
    float: left;
}

#actualSeason:hover {
    cursor: pointer;
}

#allSeason {
    width: 30%;
    display: inline-block;
    background-color: orange !important;
    float: right;
    color: white !important;
}

#allSeason:hover {
    cursor: pointer;
    background-color: white !important;
    color: #ef9800 !important;
    border-color: transparent;
}

#btnSeason:hover {
    cursor: pointer;
}

.imgReparto:hover {
    -webkit-box-shadow: -1px 0px 12px 3px rgba(239, 152, 0, 1);
    -moz-box-shadow: -1px 0px 12px 3px rgba(239, 152, 0, 1);
    box-shadow: -1px 0px 12px 3px rgba(239, 152, 0, 1);
}

.closed:hover {
    cursor: pointer;
    color: white;
    background-color: transparent;
}

.modal-dialog {
    margin-top: 10%;
    max-width: 80% !important;
}

#plus_watchlist {
    display: inline-block;
    position: absolute;
    margin-top: 13vw;
    border: 2px solid #ef9800;
    color: #ef9800;
    border-radius: 30px;
    padding: 5px 14px;
    padding-bottom: 5px;
    font-size: 20px;

}

#plus_watchlist:hover {
    cursor: pointer;
    background-color: #ef9800;
    color: white;

}

.seasonBtn:hover {
    cursor: pointer;
}

.noLink:hover {
    color: #3b3b3b;
}

*::selection {
    background: orange;
    color: white;
}

img::selection {
    background: transparent;
}

.boxAbout {
    background-color: white;
    height: 100%;
    border-radius: 10px;
    padding: 0px 40px;
}

.imgAbout {
    border-radius: 50%;
    border: 10px solid #e5e5e5;
    width: 15rem;
    height: 15rem;
    margin-top: 25px;
    position: relative;
    -webkit-transition: border-width 1s, opacity 1s, transform 1s, -webkit-transform 1s;
    -webkit-transform: scale(1);
    -ms-transition: border-width 1s, opacity 1s, transform 1s, -webkit-transform 1s;
    -ms-transform: scale(1);
    -moz-transition: border-width 1s, opacity 1s, transform 1s, -webkit-transform 1s;
    -moz-transform: scale(1);
    transform: scale(1);
    transition: border-width 0.5s, opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;

}

#pau.imgAbout:hover {
    transform: scale(1.05);
    border-width: 0px;
    z-index: 2;
}

#gonzalo.imgAbout:hover {
    transform: scale(1.05);
    border-width: 0px;
    z-index: 2;
}

#ibra.imgAbout:hover {
    transform: scale(1.05);
    border-width: 0px;
    z-index: 2;
}

#clara.imgAbout:hover {
    transform: scale(1.05);
    border-width: 0px;
    z-index: 2;
}

#marc.imgAbout:hover {
    transform: scale(1.05);
    border-width: 0px;
    z-index: 2;
}

.hoverIcon {
    color: #b5b6b7 !important;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.hoverIcon:hover {
    color: #ef9800 !important;
    cursor: pointer;
}

.nameTeam {
    margin-top: 25px;
    font-size: 1.5em;
    color: #ef9800;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.jobTeam {
    text-transform: uppercase;
    margin-top: -12px;
    font-size: 12px;
    margin-bottom: 35px;
}

#logoIndex {
    transform: scale(1);
    transition: border-width 0.5s, opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
}

#logoIndex:hover {
    transform: scale(1.10);
    border-width: 0px;
    z-index: 2;
}

.title-aboutus {
    margin-top: 2%;
    margin-bottom: 2%;
    letter-spacing: 0.2em;
    font-size: 1.9em;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

.bg-success {
    background-color: #ffc843 !important;
}

.botowatchlist {
    margin-right: 5rem;
    margin-top: 1rem;
    font-size: 1.1rem;

}

.botowatchlist button {
    margin-right: 0.5rem;
    min-width: 6em;
    padding: 0.2rem;
    font-weight: 300;
}

*:focus {
    outline: none !important;
    box-shadow: none !important;
}

#logonavbar:hover {
    cursor: pointer;
}

.loader {
    text-align: center !important;
    width: 100%;
}

.loader img {
    display: inline-block;
}

.signIn {
    margin-left: 0% !important;
    font-size: 14px;
}

.labelSignIn {
    margin-left: 4%;
}

.signIn:focus {
    border-color: #ef9800;
}

.passSignIn {
    margin-left: 0px !important;
    margin-bottom: 0px !important;
}

button:hover {
    cursor: pointer;
}

.btnSignIn {
    width: 90%;
    color: white;
    border: 1px solid orange !important;
    background-color: orange !important;
    margin-bottom: 1rem;
}

.fondotochos {
    background-image: url(../../content/images/inicio.jpg);

}

/*scroll bar*/
body{
    scrollbar-base-color: #0A0A0A;
    scrollbar-base-color: #0A0A0A;
    scrollbar-3dlight-color: #0A0A0A;
    scrollbar-highlight-color: #0A0A0A;
    scrollbar-track-color: #0A0A0A;
    scrollbar-arrow-color: #1682FB;
    scrollbar-shadow-color: #1682FB;
    scrollbar-dark-shadow-color: #0A0A0A;
}

@-moz-document url-prefix(http://),url-prefix(https://) {
    scrollbar {
        -moz-appearance: none !important;
        background: rgb(0,255,0) !important;
    }
    thumb,scrollbarbutton {
        -moz-appearance: none !important;
        background-color: rgb(0,0,255) !important;
    }

    thumb:hover,scrollbarbutton:hover {
        -moz-appearance: none !important;
        background-color: rgb(255,0,0) !important;
    }

    scrollbarbutton {
        display: none !important;
    }

    scrollbar[orient="vertical"] {
        min-width: 15px !important;
    }
}
/**/
.scrollbar-container {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: 20px;

    border: 4px solid rgba(0, 0, 0, 0.2);
    overflow: auto;
    background-color: #0A0A0A;
}
.scrollbar-container .inner {
    height: 2011px;
    width: 1985px;
    padding: 1em;
    background-color: #0A0A0A;
    font-family: sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
    background: #0A0A0A;
}
::-webkit-scrollbar-thumb { /*1682fb*/
        background-color: orange /*rgba(16, 82, fb, 0.2)*/;
    /*border: solid #0A0A0A 1px;*/
}
::-webkit-scrollbar-thumb:hover {
    background-color: orange;
}



.ng-sidebar__content.ng-sidebar__content--animate{
    overflow-x: hidden  ;
}
.ng-sidebar--animate .ng-sidebar .ng-sidebar--closed .ng-sidebar--left .ng-sidebar--over .ng-sidebar--docked{
    overflow-x: hidden  ;
}




/* SEARCH*/
.cuerpo {
    background-color: white;
    border-radius: 10px;
    text-align: center;

    /* height: 75%;*/
/*
width: 70%;
margin: 12%;
margin-top: 2%;
margin-left: 15%;*/
}


.botosearch{
   /* margin-right: 3rem;
    margin-top: 3rem !important;
    margin-bottom: 1rem ;
*/
    font-size: 1.1rem;
    border-right: 1px solid darkgray;
    padding-right: 11rem;
}

.botosearch button{
    margin-right: 0.5rem;
    min-width: 6em;
    padding: 0.2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.cos-search {
    /* height: 35rem;*/
    min-height: 35rem;
    background-color: white;
    margin-bottom: 2rem;
    margin-top: 2%;
    border-radius: 10px;
    text-align: center;
}
#botonsearch{
    padding-left: 3rem;
    padding-right: 10rem;
    padding-top: 1rem;
}

