<div>
    <h2>
        <span jhiTranslate="furyViewerApp.artistB.home.title">Artist BS</span>
        <button class="btn btn-primary float-right jh-create-entity create-artist-b" [routerLink]="['/', { outlets: { popup: ['artist-b-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="furyViewerApp.artistB.home.createLabel">
            Create new Artist B
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="artistBS">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="furyViewerApp.artistB.name">Name</span></th>
            <th><span jhiTranslate="furyViewerApp.artistB.birthdate">Birthdate</span></th>
            <th><span jhiTranslate="furyViewerApp.artistB.sex">Sex</span></th>
            <th><span jhiTranslate="furyViewerApp.artistB.deathdate">Deathdate</span></th>
            <th><span jhiTranslate="furyViewerApp.artistB.imgUrl">Img Url</span></th>
            <th><span jhiTranslate="furyViewerApp.artistB.imdbId">Imdb Id</span></th>
            <th><span jhiTranslate="furyViewerApp.artistB.awards">Awards</span></th>
            <th><span jhiTranslate="furyViewerApp.artistB.country">Country</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let artistB of artistBS ;trackBy: trackId">
                <td><a [routerLink]="['../artist-b', artistB.id ]">{{artistB.id}}</a></td>
                <td>{{artistB.name}}</td>
                <td>{{artistB.birthdate | date:'mediumDate'}}</td>
                <td>{{artistB.sex}}</td>
                <td>{{artistB.deathdate | date:'mediumDate'}}</td>
                <td>{{artistB.imgUrl}}</td>
                <td>{{artistB.imdbId}}</td>
                <td>{{artistB.awards}}</td>
                <td>
                    <div *ngIf="artistB.country">
                        <a [routerLink]="['../country', artistB.country?.id ]" >{{artistB.country?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../artist-b', artistB.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'artist-b/'+ artistB.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'artist-b/'+ artistB.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
