
<div *ngIf="artistB">
    <h2><span jhiTranslate="furyViewerApp.artistB.detail.title">Artist B</span> {{artistB.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="furyViewerApp.artistB.name">Name</span></dt>
        <dd>
            <span>{{artistB.name}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.artistB.birthdate">Birthdate</span></dt>
        <dd>
            <span>{{artistB.birthdate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.artistB.sex">Sex</span></dt>
        <dd>
            <span>{{artistB.sex}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.artistB.deathdate">Deathdate</span></dt>
        <dd>
            <span>{{artistB.deathdate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.artistB.imgUrl">Img Url</span></dt>
        <dd>
            <span>{{artistB.imgUrl}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.artistB.imdbId">Imdb Id</span></dt>
        <dd>
            <span>{{artistB.imdbId}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.artistB.awards">Awards</span></dt>
        <dd>
            <span>{{artistB.awards}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.artistB.country">Country</span></dt>
        <dd>
            <div *ngIf="artistB.country">
                <a [routerLink]="['/country', artistB.country?.id]">{{artistB.country?.name}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'artist-b/'+ artistB.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
