<div>
    <h2>
        <span jhiTranslate="furyViewerApp.series.home.title">Series</span>
        <button class="btn btn-primary float-right jh-create-entity create-series" [routerLink]="['/', { outlets: { popup: ['series-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="furyViewerApp.series.home.createLabel">
            Create new Series
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="series">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="furyViewerApp.series.name">Name</span></th>
            <th><span jhiTranslate="furyViewerApp.series.description">Description</span></th>
            <th><span jhiTranslate="furyViewerApp.series.state">State</span></th>
            <th><span jhiTranslate="furyViewerApp.series.releaseDate">Release Date</span></th>
            <th><span jhiTranslate="furyViewerApp.series.imgUrl">Img Url</span></th>
            <th><span jhiTranslate="furyViewerApp.series.imdb_id">Imdb Id</span></th>
            <th><span jhiTranslate="furyViewerApp.series.awards">Awards</span></th>
            <th><span jhiTranslate="furyViewerApp.series.director">Director</span></th>
            <th><span jhiTranslate="furyViewerApp.series.scriptwriter">Scriptwriter</span></th>
            <th><span jhiTranslate="furyViewerApp.series.company">Company</span></th>
            <th><span jhiTranslate="furyViewerApp.series.genre">Genre</span></th>
            <th><span jhiTranslate="furyViewerApp.series.actorMain">Actor Main</span></th>
            <th><span jhiTranslate="furyViewerApp.series.actorSecondary">Actor Secondary</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let series of series ;trackBy: trackId">
                <td><a [routerLink]="['../series', series.id ]">{{series.id}}</a></td>
                <td>{{series.name}}</td>
                <td>{{series.description}}</td>
                <td jhiTranslate="{{'furyViewerApp.SeriesEmittingEnum.' + series.state}}">{{series.state}}</td>
                <td>{{series.releaseDate | date:'mediumDate'}}</td>
                <td>{{series.imgUrl}}</td>
                <td>{{series.imdb_id}}</td>
                <td>{{series.awards}}</td>
                <td>
                    <div *ngIf="series.director">
                        <a [routerLink]="['../artist', series.director?.id ]" >{{series.director?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="series.scriptwriter">
                        <a [routerLink]="['../artist', series.scriptwriter?.id ]" >{{series.scriptwriter?.name}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="series.company">
                        <a [routerLink]="['../company', series.company?.id ]" >{{series.company?.name}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let genre of series.genres; let last = last">
                            <a class="form-control-static" [routerLink]="['../genre', genre?.id ]">{{genre.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let actorMain of series.actorMains; let last = last">
                            <a class="form-control-static" [routerLink]="['../artist', actorMain?.id ]">{{actorMain.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td>
                    <span *ngFor="let actorSecondary of series.actorSecondaries; let last = last">
                            <a class="form-control-static" [routerLink]="['../artist', actorSecondary?.id ]">{{actorSecondary.name}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../series', series.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'series/'+ series.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'series/'+ series.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
