<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySeriesLabel" jhiTranslate="furyViewerApp.series.home.createOrEditLabel">Create or edit a Series</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!series.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="series.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.series.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="series.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.series.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="series.description"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.series.state" for="field_state">State</label>
            <select class="form-control" name="state" [(ngModel)]="series.state" id="field_state" >
                <option value="CANCELED">{{'furyViewerApp.SeriesEmittingEnum.CANCELED' | translate}}</option>
                <option value="WAITING_NEW_SEASON">{{'furyViewerApp.SeriesEmittingEnum.WAITING_NEW_SEASON' | translate}}</option>
                <option value="WAITING_START">{{'furyViewerApp.SeriesEmittingEnum.WAITING_START' | translate}}</option>
                <option value="ENDED">{{'furyViewerApp.SeriesEmittingEnum.ENDED' | translate}}</option>
                <option value="EMITTING">{{'furyViewerApp.SeriesEmittingEnum.EMITTING' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.series.releaseDate" for="field_releaseDate">Release Date</label>
            <div class="input-group">
                <input id="field_releaseDate" type="text" class="form-control" name="releaseDate" ngbDatepicker  #releaseDateDp="ngbDatepicker" [(ngModel)]="series.releaseDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="releaseDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.series.imgUrl" for="field_imgUrl">Img Url</label>
            <input type="text" class="form-control" name="imgUrl" id="field_imgUrl"
                [(ngModel)]="series.imgUrl"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.series.imdb_id" for="field_imdb_id">Imdb Id</label>
            <input type="text" class="form-control" name="imdb_id" id="field_imdb_id"
                [(ngModel)]="series.imdb_id"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.series.awards" for="field_awards">Awards</label>
            <input type="text" class="form-control" name="awards" id="field_awards"
                [(ngModel)]="series.awards"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.series.director" for="field_director">Director</label>
            <select class="form-control" id="field_director" name="director" [(ngModel)]="series.director" >
                <option [ngValue]="null"></option>
                <option [ngValue]="artistOption.id === series.director?.id ? series.director : artistOption" *ngFor="let artistOption of artists; trackBy: trackArtistById">{{artistOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.series.scriptwriter" for="field_scriptwriter">Scriptwriter</label>
            <select class="form-control" id="field_scriptwriter" name="scriptwriter" [(ngModel)]="series.scriptwriter" >
                <option [ngValue]="null"></option>
                <option [ngValue]="artistOption.id === series.scriptwriter?.id ? series.scriptwriter : artistOption" *ngFor="let artistOption of artists; trackBy: trackArtistById">{{artistOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.series.company" for="field_company">Company</label>
            <select class="form-control" id="field_company" name="company" [(ngModel)]="series.company" >
                <option [ngValue]="null"></option>
                <option [ngValue]="companyOption.id === series.company?.id ? series.company : companyOption" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="furyViewerApp.series.genre" for="field_genre">Genre</label>
            <select class="form-control" id="field_genre" multiple name="genre" [(ngModel)]="series.genres">
                <option [ngValue]="getSelected(series.genres, genreOption)" *ngFor="let genreOption of genres; trackBy: trackGenreById">{{genreOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="furyViewerApp.series.actorMain" for="field_actorMain">Actor Main</label>
            <select class="form-control" id="field_actorMain" multiple name="actorMain" [(ngModel)]="series.actorMains">
                <option [ngValue]="getSelected(series.actorMains, artistOption)" *ngFor="let artistOption of artists; trackBy: trackArtistById">{{artistOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="furyViewerApp.series.actorSecondary" for="field_actorSecondary">Actor Secondary</label>
            <select class="form-control" id="field_actorSecondary" multiple name="actorSecondary" [(ngModel)]="series.actorSecondaries">
                <option [ngValue]="getSelected(series.actorSecondaries, artistOption)" *ngFor="let artistOption of artists; trackBy: trackArtistById">{{artistOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.series.country" for="field_country">Country</label>
            <select class="form-control" id="field_country" name="country" [(ngModel)]="series.country" >
                <option [ngValue]="null"></option>
                <option [ngValue]="countryOption.id === series.country?.id ? series.country : countryOption" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
