
<div *ngIf="series">
    <h2><span jhiTranslate="furyViewerApp.series.detail.title">Series</span> {{series.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="furyViewerApp.series.name">Name</span></dt>
        <dd>
            <span>{{series.name}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.series.description">Description</span></dt>
        <dd>
            <span>{{series.description}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.series.state">State</span></dt>
        <dd>
            <span jhiTranslate="{{'furyViewerApp.SeriesEmittingEnum.' + series.state}}">{{series.state}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.series.releaseDate">Release Date</span></dt>
        <dd>
            <span>{{series.releaseDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.series.imgUrl">Img Url</span></dt>
        <dd>
            <span>{{series.imgUrl}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.series.imdb_id">Imdb Id</span></dt>
        <dd>
            <span>{{series.imdb_id}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.series.awards">Awards</span></dt>
        <dd>
            <span>{{series.awards}}</span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.series.director">Director</span></dt>
        <dd>
            <div *ngIf="series.director">
                <a [routerLink]="['/artist', series.director?.id]">{{series.director?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.series.scriptwriter">Scriptwriter</span></dt>
        <dd>
            <div *ngIf="series.scriptwriter">
                <a [routerLink]="['/artist', series.scriptwriter?.id]">{{series.scriptwriter?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.series.company">Company</span></dt>
        <dd>
            <div *ngIf="series.company">
                <a [routerLink]="['/company', series.company?.id]">{{series.company?.name}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.series.genre">Genre</span></dt>
        <dd>
            <span *ngFor="let genre of series.genres; let last = last">
                <a [routerLink]="['/genre', genre?.id ]">{{genre.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.series.actorMain">Actor Main</span></dt>
        <dd>
            <span *ngFor="let actorMain of series.actorMains; let last = last">
                <a [routerLink]="['/artist', actorMain?.id ]">{{actorMain.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
        <dt><span jhiTranslate="furyViewerApp.series.actorSecondary">Actor Secondary</span></dt>
        <dd>
            <span *ngFor="let actorSecondary of series.actorSecondaries; let last = last">
                <a [routerLink]="['/artist', actorSecondary?.id ]">{{actorSecondary.name}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'series/'+ series.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
