<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAchievementsAchievsLabel" jhiTranslate="furyViewerApp.achievementsAchievs.home.createOrEditLabel">Create or edit a Achievements Achievs</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!achievementsAchievs.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="achievementsAchievs.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.achievementsAchievs.date" for="field_date">Date</label>
            <div class="d-flex">
                <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="achievementsAchievs.date"
                  />
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.achievementsAchievs.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="achievementsAchievs.user" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id === achievementsAchievs.user?.id ? achievementsAchievs.user : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.achievementsAchievs.achievement" for="field_achievement">Achievement</label>
            <select class="form-control" id="field_achievement" name="achievement" [(ngModel)]="achievementsAchievs.achievement" >
                <option [ngValue]="null"></option>
                <option [ngValue]="achievementOption.id === achievementsAchievs.achievement?.id ? achievementsAchievs.achievement : achievementOption" *ngFor="let achievementOption of achievements; trackBy: trackAchievementById">{{achievementOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
