<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySocialLabel" jhiTranslate="furyViewerApp.social.home.createOrEditLabel">Create or edit a Social</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!social.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="social.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.social.url" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                [(ngModel)]="social.url"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.social.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                [(ngModel)]="social.type"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.social.series" for="field_series">Series</label>
            <select class="form-control" id="field_series" name="series" [(ngModel)]="social.series" >
                <option [ngValue]="null"></option>
                <option [ngValue]="seriesOption.id === social.series?.id ? social.series : seriesOption" *ngFor="let seriesOption of series; trackBy: trackSeriesById">{{seriesOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="furyViewerApp.social.movie" for="field_movie">Movie</label>
            <select class="form-control" id="field_movie" name="movie" [(ngModel)]="social.movie" >
                <option [ngValue]="null"></option>
                <option [ngValue]="movieOption.id === social.movie?.id ? social.movie : movieOption" *ngFor="let movieOption of movies; trackBy: trackMovieById">{{movieOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
