<div>

    <div class="modal-header">
        <h4 class="modal-title" id="myEpisodeLabel">Listado Episodios Pendientes</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <div class="card portades" *ngFor="let episode of episodePending" (click)="goTo(episode.id)">
            <img class="card-img-top" src="{{episode.urlCartel}}" alt="Card image">

            <div class="card-body">
                <h4 class="card-title">{{episode.seasonNumber}}x{{episode.episodeNumber}} {{episode.titleEpisode}}</h4>
                <h3 class="card-text"> {{episode.titleSeries}} </h3>

            </div>

        </div>
    </div>
</div>
