<style>
    .modal-header > button{
        background-color: transparent !important;
        color: white !important;
        opacity: unset;
        text-shadow: none !important;
        font-size: 2em !important;
        padding-right: 1%;
        font-weight: 300;
    }
    .modal-header > button:hover{
        background-color: transparent !important;
        color: orange !important;
    }
</style>

<div>

    <div class="modal-header">
        <h4 class="modal-title" id="myEpisodeLabel" style="margin-left: 15px; ">Pending Chapters List</h4>
        <button type="button" class="close closed" data-dismiss="modal" aria-hidden="true"
                (click)="clear()" style="  background-color: transparent !important;
    color: white !important;
    opacity: unset;
    text-shadow: none !important;
    font-size: 2em !important;
    padding-right: 1%;
    font-weight: 300;">&times;</button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="card portades col-2" *ngFor="let episode of episodePending" (click)="goTo(episode.id)" style="    margin-right: 3%;">
                <img class="card-img-top" style="/*width: 100%; height: 18.5vw;*/ width: 9rem; height: 13rem;" src="{{episode.urlCartel}}" alt="Card image">

                <div class="card-body">
                    <h4 class="card-title limit" style="font-weight: bold;">{{episode.seasonNumber | number:'2.0-0' }}x{{episode.episodeNumber | number:'2.0-0' }} {{episode.titleEpisode}}</h4>
                    <h3 class="card-text" style="text-transform: uppercase; font-size: 12px; margin-top: 10px;"> {{episode.titleSeries}} </h3>

                </div>

            </div>
            <div *ngIf="loading" class="loader">
                <img  src="../../../content/images/loader.gif" />
            </div>
        </div>
    </div>
</div>
