<div class="fons ">
    <div class="row">
        <div class="hola col-12">
            <div class="cos-watchlist">
                {{globals.role}}


                <div id="sidebarwatch">
                    <div id="botons_sidebar">

                        <div class="icon_text">
                            <div class="rodona" (click)="option('pending')" [ngStyle]="{'background-color':globals.opcio=='pending' ? '#ef9800' : 'white', 'color':globals.opcio=='pending' ? 'white' : '#ef9800'}"><i class="fa fa-edit fa-3x"></i></div>
                            PENDING
                        </div>
                        <div class="icon_text" *ngIf="globals.multimedia=='series'">
                            <div class="rodona" (click)="option('following')" [ngStyle]="{'background-color':globals.opcio=='following' ? '#ef9800' : 'white', 'color':globals.opcio=='following' ? 'white' : '#ef9800'}"><i class="fa fa-angle-double-right fa-3x"></i></div>
                            FOLLOWING
                        </div>
                        <div class="icon_text">
                            <div class="rodona" (click)="option('seen')" [ngStyle]="{'background-color':globals.opcio=='seen' ? '#ef9800' : 'white', 'color':globals.opcio=='seen' ? 'white' : '#ef9800'}"><i class="fa fa-eye-slash fa-3x"></i></div>
                            SEEN
                        </div>
                        <div class="icon_text">
                            <div class="rodona" (click)="option('favorite')" [ngStyle]="{'background-color':globals.opcio=='favorite' ? '#ef9800' : 'white', 'color':globals.opcio=='favorite' ? 'white' : '#ef9800'}"><i class="fa fa-heart fa-3x"></i></div>
                            FAVORITE
                        </div>
                        <div class="icon_text">
                            <div class="rodona" (click)="option('hatred')" [ngStyle]="{'background-color':globals.opcio=='hatred' ? '#ef9800' : 'white', 'color':globals.opcio=='hatred' ? 'white' : '#ef9800'}"><i class="fa fa-thumbs-down fa-3x"></i></div>
                            HATRED
                        </div>

                    </div>
                </div>


                <div id="botonspelser" class="text-right" style="padding-right: 2rem;">
                    <div class="col botowatchlist" id="botoncalendar">
                        <button (click)="change('series')" [ngStyle]="{'background-color':globals.multimedia=='series' ? '#ef9800' : 'white', 'color':globals.multimedia=='series' ? 'white' : '#ef9800'}"> SERIES</button>
                        <button (click)="change('movie')" [ngStyle]="{'background-color':globals.multimedia=='movie' ? '#ef9800' : 'white', 'color':globals.multimedia=='movie' ? 'white' : '#ef9800'}"> MOVIES</button>
                    </div>

                    <!--<div class="text_switch"> SERIES</div>

                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>

                    <div class="text_switch"> PELICULAS</div>

                    <!--   <input type="checkbox" name="peliculas" value="male"> PELICULAS
                       <input type="checkbox" name="series" value="female"> SERIES -->

                </div>


                <div class="card pendientes">
                    <div class="card-body">
                        <div class="serpeli_body2">

                            <div *ngFor="let film of filmography" class="card portades" (click)="goTo(film.type, film.id)">
                                <img class="card-img-top" src="{{film.urlCartel}}" alt="Card image">

                                <div class="card-body">
                                    <h4 class="card-title">{{film.title}}</h4>
                                    <h3 class="card-text">{{film.releaseDate}}</h3>
                                </div>



                            </div>


                            <div *ngIf="loading" class="loader">
                                <img src="../../../content/images/loader.gif" />
                            </div>



                        </div>



                        <!--
                        <div class="serpeli_body2">

                            <div class="card portades" *ngFor="let movie of moviesPending" routerLink="/movie/{{movie.id}}">
                            <img class="card-img-top" src="{{movie.imgUrl}}" alt="Card image">
                            <div class="card-body">
                                <h4>{{movie.name}}</h4>
                        </div>
                                No tienes peliculas favoritas


                        <div class="serpeli_body2">

                        </div>-->

                    </div>

                    <!--<div style="display: inline-block; height: 7vw;">
                        <div id="plus_watchlist" [routerLink]="['/', { outlets: { popup: ['movie-pending'] } }]">+</div>
                    </div>-->


                </div>
            </div>
        </div>
    </div>
</div>
