<div class="fons ">
    <div class="row">
        <div class="hola col-12">
            <div class="cos">

                <div id="sidebarwatch">
                    <div id="botons_sidebar">

                        <div class="icon_text">
                            <div class="rodona"><i class="fa fa-heart fa-3x"></i></div>
                            FAVORITAS
                        </div>
                        <div class="icon_text">
                            <div class="rodona"><i class="fa fa-edit fa-3x"></i></div>
                            PENDIENTES
                        </div>
                        <div class="icon_text">
                            <div class="rodona"><i class="fa fa-eye-slash fa-3x"></i></div>
                            VISTAS
                        </div>
                        <div class="icon_text">
                            <div class="rodona"><i class="fa fa-thumbs-down fa-3x"></i></div>
                            ODIADAS
                        </div>

                    </div>
                </div>

                <div id="botonspelser">
                    <div class="col botocalendari" id="botoncalendar">
                        <button> SERIES</button>
                        <button> FILMS</button>
                    </div>

                    <!--    <div class="text_switch"> SERIES</div>

                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>

                    <div class="text_switch"> PELICULAS</div>  -->

                </div>


                <div class="card pendientes">
                    <div class="card-body">
                        <div class="serpeli_body2">
                            <div class="card portades">
                                <img class="card-img-top" src="doctorwho.jpg" alt="Card image">

                                <div class="card-body">
                                    <h4 class="card-title">3x04 Blink</h4>
                                    <h3 class="card-text">Doctor Who</h3>
                                </div>



                            </div>
                            <div class="card portades">
                                <img class="card-img-top" src="doctorwho.jpg" alt="Card image">

                                <div class="card-body">
                                    <h4 class="card-title">3x04 Blink</h4>
                                    <h3 class="card-text">Doctor Who</h3>
                                </div>



                            </div>
                            <div class="card portades">
                                <img class="card-img-top" src="doctorwho.jpg" alt="Card image">


                                <div class="card-body">
                                    <h4 class="card-title">3x04 Blink</h4>
                                    <h3 class="card-text">Doctor Who</h3>
                                </div>



                            </div>
                            <div class="card portades">
                                <img class="card-img-top" src="doctorwho.jpg" alt="Card image">

                                <div class="card-body">
                                    <h4 class="card-title">3x04 Blink</h4>
                                    <h3 class="card-text">Doctor Who</h3>
                                </div>


                            </div>
                            <div class="card portades">
                                <img class="card-img-top" src="doctorwho.jpg" alt="Card image">


                                <div class="card-body">
                                    <h4 class="card-title">3x04 Blink</h4>
                                    <h3 class="card-text">Doctor Who</h3>
                                </div>

                            </div>
                        </div>


                        <div class="serpeli_body2">
                            <div class="card portades">
                                <img class="card-img-top" src="doctorwho.jpg" alt="Card image">

                                <div class="card-body">
                                    <h4 class="card-title">3x04 Blink</h4>
                                    <h3 class="card-text">Doctor Who</h3>
                                </div>



                            </div>
                            <div class="card portades">
                                <img class="card-img-top" src="doctorwho.jpg" alt="Card image">

                                <div class="card-body">
                                    <h4 class="card-title">3x04 Blink</h4>
                                    <h3 class="card-text">Doctor Who</h3>
                                </div>



                            </div>
                            <div class="card portades">
                                <img class="card-img-top" src="doctorwho.jpg" alt="Card image">


                                <div class="card-body">
                                    <h4 class="card-title">3x04 Blink</h4>
                                    <h3 class="card-text">Doctor Who</h3>
                                </div>



                            </div>
                            <div class="card portades">
                                <img class="card-img-top" src="doctorwho.jpg" alt="Card image">

                                <div class="card-body">
                                    <h4 class="card-title">3x04 Blink</h4>
                                    <h3 class="card-text">Doctor Who</h3>
                                </div>


                            </div>
                            <div class="card portades">
                                <img class="card-img-top" src="doctorwho.jpg" alt="Card image">


                                <div class="card-body">
                                    <h4 class="card-title">3x04 Blink</h4>
                                    <h3 class="card-text">Doctor Who</h3>
                                </div>


                            </div>
                        </div><!--
                        <div class="serpeli_body2">

                            <div class="card portades" *ngFor="let movie of moviesPending" routerLink="/movie/{{movie.id}}">
                            <img class="card-img-top" src="{{movie.imgUrl}}" alt="Card image">
                            <div class="card-body">
                                <h4>{{movie.name}}</h4>
                        </div>
                                No tienes peliculas favoritas


                        <div class="serpeli_body2">

                        </div>-->

                    </div>

                    <div style="display: inline-block; height: 7vw;">
                        <div id="plus_watchlist" [routerLink]="['/', { outlets: { popup: ['movie-pending'] } }]">+</div>
                    </div>


                </div>

            </div>

        </div>

    </div>

